In [21]:
import pandas as pd
import random
import requests
import json



g_api = "AIzaSyDjvHNiKW1QSAkrfmUmqsiYYYV8jWMxJJk"

#Importing Raw IRS Data
irs_pd = pd.read_csv("Raw Data/IRS Dataset by County.csv")
irs_pd.head(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,25120.0,14000.0,9140.0,1110.0,17260.0,...,4530.0,9068.0,70.0,97.0,0.0,0.0,2750.0,3791.0,10210.0,35026.0
1,1,AL,0,Alabama,2,300920.0,223950.0,26770.0,46400.0,156430.0,...,77720.0,45164.0,0.0,0.0,0.0,0.0,23290.0,10777.0,250850.0,296608.0
2,1,AL,0,Alabama,3,549200.0,257890.0,88300.0,194060.0,323470.0,...,312340.0,280080.0,0.0,0.0,0.0,0.0,39900.0,37545.0,494200.0,1668817.0
3,1,AL,0,Alabama,4,491350.0,200730.0,150260.0,125560.0,281320.0,...,397110.0,950375.0,30.0,20.0,0.0,0.0,70960.0,102612.0,413810.0,1177609.0
4,1,AL,0,Alabama,5,259320.0,75790.0,142750.0,34060.0,156510.0,...,250010.0,1316842.0,0.0,0.0,0.0,0.0,62330.0,133274.0,191980.0,538147.0
5,1,AL,0,Alabama,6,164700.0,26720.0,125180.0,10400.0,99550.0,...,163440.0,1389769.0,0.0,0.0,0.0,0.0,45250.0,125396.0,115550.0,376309.0
6,1,AL,0,Alabama,7,202400.0,18820.0,175890.0,5840.0,121460.0,...,201840.0,3541123.0,850.0,240.0,440.0,166.0,80640.0,371780.0,114450.0,449311.0
7,1,AL,0,Alabama,8,53390.0,4380.0,47580.0,950.0,40960.0,...,53350.0,5779823.0,20860.0,36718.0,27690.0,104622.0,29700.0,863579.0,16300.0,290677.0
8,1,AL,1,Autauga County,1,210.0,120.0,80.0,0.0,140.0,...,30.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,308.0
9,1,AL,1,Autauga County,2,3350.0,2650.0,230.0,430.0,1320.0,...,770.0,372.0,0.0,0.0,0.0,0.0,230.0,99.0,2880.0,2886.0

In [2]:
# #Removing state-level data
irs_pd = irs_pd[irs_pd.COUNTYFIPS !=0]

#Combining State and County columns to more easily merge with CDC data
irs_pd["COUNTYNAME"] = irs_pd["COUNTYNAME"] + ", " + irs_pd["STATE"]

#Removing Rows with Missing Data
irs_pd = irs_pd.dropna(how='any')

#Pulling Needed Information
irs_basic = irs_pd[["COUNTYNAME", "agi_stub", "N1", "A00200"]]
irs_basic.head(10)

            COUNTYNAME  agi_stub       N1    A00200
8   Autauga County, AL         1    210.0    1403.0
9   Autauga County, AL         2   3350.0   14437.0
10  Autauga County, AL         3   5620.0   77486.0
11  Autauga County, AL         4   5410.0  159789.0
12  Autauga County, AL         5   3420.0  163864.0
13  Autauga County, AL         6   2450.0  163709.0
14  Autauga County, AL         7   3000.0  302302.0
15  Autauga County, AL         8    360.0   61298.0
16  Baldwin County, AL         1   1710.0   13073.0
17  Baldwin County, AL         2  13400.0   53151.0

In [3]:
#Renaming Columns
irs_rename = irs_basic.rename(columns={"COUNTYNAME":"County",
                                       "agi_stub":"Adjusted Gross Income",
                                       "N1":"Number of Returns",
                                       "A00200":"Total Salaries & Wages"})

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",1,210.0,1403.0
9,"Autauga County, AL",2,3350.0,14437.0
10,"Autauga County, AL",3,5620.0,77486.0
11,"Autauga County, AL",4,5410.0,159789.0
12,"Autauga County, AL",5,3420.0,163864.0
13,"Autauga County, AL",6,2450.0,163709.0
14,"Autauga County, AL",7,3000.0,302302.0
15,"Autauga County, AL",8,360.0,61298.0
16,"Baldwin County, AL",1,1710.0,13073.0
17,"Baldwin County, AL",2,13400.0,53151.0

In [4]:
#Cleaning Adjusted Gross Income
irs_rename.loc[:, "Adjusted Gross Income"] = irs_rename["Adjusted Gross Income"].astype("str")

irs_rename['Adjusted Gross Income'] = irs_rename['Adjusted Gross Income'].replace(
    {'0': 'No AGI Stub',
     '1': 'Under $1',
     '2': '1 - $9,999',
     '3': '10,000 - $24,999',
     '4': '25,000 - $49,999',
     '5': '50,000 - $74,999',
     '6': '75,000 - $99,999',
     '7': '100,000 - $199,999',
     '8': '$200,000 or more'
    })

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",Under $1,210.0,1403.0
9,"Autauga County, AL","1 - $9,999",3350.0,14437.0
10,"Autauga County, AL","10,000 - $24,999",5620.0,77486.0
11,"Autauga County, AL","25,000 - $49,999",5410.0,159789.0
12,"Autauga County, AL","50,000 - $74,999",3420.0,163864.0
13,"Autauga County, AL","75,000 - $99,999",2450.0,163709.0
14,"Autauga County, AL","100,000 - $199,999",3000.0,302302.0
15,"Autauga County, AL","$200,000 or more",360.0,61298.0
16,"Baldwin County, AL",Under $1,1710.0,13073.0
17,"Baldwin County, AL","1 - $9,999",13400.0,53151.0

In [137]:
# state_counts = usa_ufo_df["state"].value_counts()
# state_counts.head()

income_counts = irs_rename.groupby(["County"])
income_counts.head()

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",Under $1,210.0,1403.0
9,"Autauga County, AL","1 - $9,999",3350.0,14437.0
10,"Autauga County, AL","10,000 - $24,999",5620.0,77486.0
11,"Autauga County, AL","25,000 - $49,999",5410.0,159789.0
12,"Autauga County, AL","50,000 - $74,999",3420.0,163864.0
16,"Baldwin County, AL",Under $1,1710.0,13073.0
17,"Baldwin County, AL","1 - $9,999",13400.0,53151.0
18,"Baldwin County, AL","10,000 - $24,999",21380.0,267123.0
19,"Baldwin County, AL","25,000 - $49,999",20160.0,542282.0
20,"Baldwin County, AL","50,000 - $74,999",12100.0,516479.0
24,"Barbour County, AL",Under $1,160.0,554.0
25,"Barbour County, AL","1 - $9,999",1600.0,7042.0
26,"Barbour County, AL","10,000 - $24,999",3240.0,45086.0
27,"Barbour County, AL","25,000 - $49,999",2460.0,71571.0
28,"Barbour County, AL","50,000 - $74,999",960.0,42442.0
32,"Bibb County, AL",Under $1,70.0,0.0
33,"Bibb County, AL","1 - $9,999",1120.0,5081.0
34,"Bibb County, AL","10,000 - $24,999",2180.0,29615.0
35,"Bibb County, AL","25,000 - $49,999",2080.0,64284.0
36,"Bibb County, AL","50,000 - $74,999",1150.0,58270.0
40,"Blount County, AL",Under $1,290.0,1479.0
41,"Blount County, AL","1 - $9,999",3130.0,12234.0
42,"Blount County, AL","10,000 - $24,999",5120.0,64161.0
43,"Blount County, AL","25,000 - $49,999",5680.0,168699.0
44,"Blount County, AL","50,000 - $74,999",3430.0,171090.0
48,"Bullock County, AL",Under $1,50.0,0.0
49,"Bullock County, AL","1 - $9,999",560.0,2516.0
50,"Bullock County, AL","10,000 - $24,999",1570.0,24697.0
51,"Bullock County, AL","25,000 - $49,999",1010.0,31280.0
52,"Bullock County, AL","50,000 - $74,999",350.0,15862.0
...,...,...,...,...
25488,"Sublette County, WY",Under $1,110.0,1162.0
25489,"Sublette County, WY","1 - $9,999",470.0,2015.0
25490,"Sublette County, WY","10,000 - $24,999",590.0,7546.0
25491,"Sublette County, WY","25,000 - $49,999",740.0,21139.0
25492,"Sublette County, WY","50,000 - $74,999",740.0,35929.0
25496,"Sweetwater County, WY",Under $1,170.0,1282.0
25497,"Sweetwater County, WY","1 - $9,999",2460.0,11310.0
25498,"Sweetwater County, WY","10,000 - $24,999",3400.0,47547.0
25499,"Sweetwater County, WY","25,000 - $49,999",3790.0,113308.0
25500,"Sweetwater County, WY","50,000 - $74,999",3310.0,172501.0
25504,"Teton County, WY",Under $1,430.0,5527.0
25505,"Teton County, WY","1 - $9,999",1480.0,6306.0
25506,"Teton County, WY","10,000 - $24,999",2520.0,36072.0
25507,"Teton County, WY","25,000 - $49,999",3760.0,116842.0
25508,"Teton County, WY","50,000 - $74,999",1830.0,87151.0
25512,"Uinta County, WY",Under $1,120.0,1526.0
25513,"Uinta County, WY","1 - $9,999",1310.0,6232.0
25514,"Uinta County, WY","10,000 - $24,999",1640.0,22546.0
25515,"Uinta County, WY","25,000 - $49,999",1850.0,55785.0
25516,"Uinta County, WY","50,000 - $74,999",1360.0,68898.0
25520,"Washakie County, WY",Under $1,70.0,533.0
25521,"Washakie County, WY","1 - $9,999",600.0,2579.0
25522,"Washakie County, WY","10,000 - $24,999",720.0,8924.0
25523,"Washakie County, WY","25,000 - $49,999",880.0,24353.0
25524,"Washakie County, WY","50,000 - $74,999",640.0,30099.0
25528,"Weston County, WY",Under $1,60.0,470.0
25529,"Weston County, WY","1 - $9,999",440.0,1942.0
25530,"Weston County, WY","10,000 - $24,999",590.0,7298.0
25531,"Weston County, WY","25,000 - $49,999",610.0,17492.0
25532,"Weston County, WY","50,000 - $74,999",500.0,24123.0

In [5]:
#Importing Raw CDC Data
cdc_pd = pd.read_csv("Raw Data/CDC Dataset - Heart Disease by County.csv")
cdc_pd.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [6]:
#Removing state-level data
cdc_pd = cdc_pd[cdc_pd.GeographicLevel !="State"]

#Removing Insufficient Data
cdc_pd = cdc_pd[cdc_pd.Data_Value_Footnote_Symbol !="~"]

#Combining State and County columns to more easily merge with IRS data
cdc_pd["LocationDesc"] = cdc_pd["LocationDesc"] + ", " + cdc_pd["LocationAbbr"]

#Pulling Needed Information
cdc_basic = cdc_pd[["LocationAbbr",
                    "LocationDesc",
                    "Data_Value",
                    "Stratification1",
                    "Stratification2",
                    "Location 1"]]
cdc_basic.head()

,LocationAbbr,LocationDesc,Data_Value,Stratification1,Stratification2,Location 1
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"

In [7]:
#Renaming Columns
cdc_rename = cdc_basic.rename(columns={"LocationAbbr":"State",
                                       "LocationDesc":"County",
                                       "Data_Value":"Deaths per 100,000",
                                       "Stratification1":"Gender",
                                       "Stratification2":"Race/Ethnicity",
                                       "Location 1": "Geographical Coordinates"})

cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [8]:
#Dropping NaN Rows
cdc_rename = cdc_rename.dropna(how='any')
cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [140]:
####NOTHING LEFT TO PULL FROM ABOVE
####STILL NEED TO EXPORT


# Merging Mcdonalds data with cdc data to make pie graphs for gender/death 
cdc_mcdonalds_df = pd.merge(cdc_rename, mcd_p_county, on="County")
cdc_mcdonalds_df.head()

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Number of Mcdonalds
0,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)",4
1,AL,"Barbour County, AL",630.4,Male,Overall,"(31.875526, -85.392733)",4
2,AL,"Barbour County, AL",356.0,Female,Overall,"(31.875526, -85.392733)",4
3,AL,"Barbour County, AL",437.3,Overall,White,"(31.875526, -85.392733)",4
4,AL,"Barbour County, AL",521.8,Male,White,"(31.875526, -85.392733)",4

In [142]:
## TO DO 
## Code to pull Graph Data


#cleaning data to creat DF for each gender
male_deaths_df = cdc_mcdonalds_df.groupby(["Gender"]).get_group(("Male"))


overall_gender_death_df = male_deaths_df[(male_deaths_df["Gender"] == "Male") &  (male_deaths_df["Race/Ethnicity"] == "Overall")]


overall_gender_death_df["Deaths per 100,000"].sum()

224933.5

In [9]:
df_merge = pd.merge(cdc_rename, irs_rename, on="County")
df_merge.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
0,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
1,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0
2,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","10,000 - $24,999",1270.0,15724.0
3,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","25,000 - $49,999",1680.0,48739.0
4,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","50,000 - $74,999",1080.0,50947.0
5,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","75,000 - $99,999",690.0,42393.0
6,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","100,000 - $199,999",1050.0,98756.0
7,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","$200,000 or more",220.0,27889.0
8,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
9,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0

In [71]:
# counties = ["Houston County, TN", "Martin County, TX"]
# places = [1, 4]

mcd_p_county = pd.read_csv("Mcdonalds_per_County.csv")
# TODO replace this df with pd.read_csv when ingest is done
counties_to_place_count_df = pd.DataFrame({"County": counties, "place_count": places})
counties_to_place_count_df

               County  place_count
0  Houston County, TN            1
1   Martin County, TX            4

In [72]:
mcd_p_county = pd.read_csv("Mcdonalds_per_County.csv")
mcd_p_county.head()

             county  Number of Mcdonalds
0    Ada County, ID                   30
1  Adams County, CO                   50
2  Adams County, IL                    4
3  Adams County, MS                    3
4  Adams County, ND                    1

In [74]:
mcd_p_county = mcd_p_county.rename(columns={"county":"County"})
mcd_p_county.head()

             County  Number of Mcdonalds
0    Ada County, ID                   30
1  Adams County, CO                   50
2  Adams County, IL                    4
3  Adams County, MS                    3
4  Adams County, ND                    1

In [80]:
final_data = pd.merge(df_merge, mcd_p_county, on="County")
final_data.head()

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages,Number of Mcdonalds
0,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)",Under $1,160.0,554.0,4
1,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)","1 - $9,999",1600.0,7042.0,4
2,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)","10,000 - $24,999",3240.0,45086.0,4
3,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)","25,000 - $49,999",2460.0,71571.0,4
4,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)","50,000 - $74,999",960.0,42442.0,4

In [119]:
gender_df = final_data[["County", "Deaths per 100,000", "Gender"]]
overall_gender_df = gender_df[gender_df["Gender"] == "Overall"]
overall_gender_df.head(100)
overall_gender_df = overall_gender_df.groupby["County"]

TypeError: 'method' object is not subscriptable

In [10]:
df_merge.to_csv("Clean_Data_Merged.csv", index=False, header=True)

In [11]:
unique_counties = df_merge["County"].unique()
len(unique_counties)

3000

In [12]:
random.shuffle(unique_counties)
county_pull = unique_counties[:5]
county_pull

array(['Lewis County, ID', 'Bowie County, TX', 'Desha County, AR',
       'Gasconade County, MO', 'Berkshire County, MA'], dtype=object)

In [13]:
from pprint import pprint
#creating a funtion that defines params for each county
def get_places(county, page_token):
    params = {
        "query": "mcdonald's",
        "key": g_api,
        "radius": 1000,
        "type":  "restaurant",
        "location": "40.3616,-83.3362"
        }
    #using the page token
    if page_token:
        print('using token')
        params['pagetoken'] = page_token
    
    base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    response = requests.get(base_url, params=params)
 
    return response.json()

In [139]:
# geocoordinates


county = county_pull[0]
# types = ["cafe",
#          "restaurant",
#          "food"]
# keyword = "fast food"
# q_phrase = county + "fast food"

# # # set up a parameters dictionary
# params = {
#     "location": county,
#     "categories": keyword,
#     "type": types,
#     "Authorization": "hmByUdhcTsKM5JLBq37ooaCx3D7jHwSi0UvVuwEnkeLWqjR67y8gvikOg1_Dy8kHOyamyarCr8jrZezYsBLdnicQat6RpFWY6unLYr7df72YUp-ve2yG66uPsV1oXXYx"
# #     "query": q_phrase,
# #     "key": g_api
# }

# # # base url
# base_url = "https://api.yelp.com/v3/businesses/search"

# # # run a request using our params dictionary
# response = requests.get(base_url, params=params)

# # # convert response to json
# places_data = response.json()

# # # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))
# # county

# #using time so api does not time out
# from time import sleep

# rest_list = []

# #creating a loop that uses previous params for each county
# for county in county_pull[:1]:

#     page_token = None
        
#     #using a while loop to countiously loop until False    
#     while True:
        
#         places_data = get_places(county, page_token)

#         #for loop to loop through multiple pages and grab each resturant
#         #within each county
#         for i in range(0 ,len(places_data['results'])):
#             rest_list.append({'county': county, 'place_name': places_data["results"][i]["name"]})
        
#         #using the page token until no more tokens left
#         page_token = places_data.get('next_page_token', None)
#         print(f'county {county} {page_token}')
#         sleep(2)
#         if not page_token:
#             print('breaking')
#             break

rest_list = []
API_KEY = "hmByUdhcTsKM5JLBq37ooaCx3D7jHwSi0UvVuwEnkeLWqjR67y8gvikOg1_Dy8kHOyamyarCr8jrZezYsBLdnicQat6RpFWY6unLYr7df72YUp-ve2yG66uPsV1oXXYx"

url = "https://api.yelp.com/v3/businesses/search"

params = {
    "Authorization": API_KEY,
    "location": county,
    "term": "McDonalds",
    "categories": "hotdogs"
}

# Defaults for our simple example.
# DEFAULT_TERM = 'fast food'
# DEFAULT_LOCATION = county
# SEARCH_LIMIT = 3

response = requests.get(url, params=params, headers={"Authorization": f"Bearer {API_KEY}"}).json()
print(len(response))
pprint(response)

ConnectionError: HTTPSConnectionPool(host='api.yelp.com', port=443): Max retries exceeded with url: /v3/businesses/search?Authorization=hmByUdhcTsKM5JLBq37ooaCx3D7jHwSi0UvVuwEnkeLWqjR67y8gvikOg1_Dy8kHOyamyarCr8jrZezYsBLdnicQat6RpFWY6unLYr7df72YUp-ve2yG66uPsV1oXXYx&location=Lewis+County%2C+ID&term=McDonalds&categories=hotdogs (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000001C5C08472B0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [138]:
rest_df = pd.DataFrame(rest_list)
rest_df

NameError: name 'rest_list' is not defined