In [21]:
import pandas as pd
import random
import requests
import json



g_api = "AIzaSyDjvHNiKW1QSAkrfmUmqsiYYYV8jWMxJJk"

#Importing Raw IRS Data
irs_pd = pd.read_csv("Raw Data/IRS Dataset by County.csv")
irs_pd.head(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,25120.0,14000.0,9140.0,1110.0,17260.0,...,4530.0,9068.0,70.0,97.0,0.0,0.0,2750.0,3791.0,10210.0,35026.0
1,1,AL,0,Alabama,2,300920.0,223950.0,26770.0,46400.0,156430.0,...,77720.0,45164.0,0.0,0.0,0.0,0.0,23290.0,10777.0,250850.0,296608.0
2,1,AL,0,Alabama,3,549200.0,257890.0,88300.0,194060.0,323470.0,...,312340.0,280080.0,0.0,0.0,0.0,0.0,39900.0,37545.0,494200.0,1668817.0
3,1,AL,0,Alabama,4,491350.0,200730.0,150260.0,125560.0,281320.0,...,397110.0,950375.0,30.0,20.0,0.0,0.0,70960.0,102612.0,413810.0,1177609.0
4,1,AL,0,Alabama,5,259320.0,75790.0,142750.0,34060.0,156510.0,...,250010.0,1316842.0,0.0,0.0,0.0,0.0,62330.0,133274.0,191980.0,538147.0
5,1,AL,0,Alabama,6,164700.0,26720.0,125180.0,10400.0,99550.0,...,163440.0,1389769.0,0.0,0.0,0.0,0.0,45250.0,125396.0,115550.0,376309.0
6,1,AL,0,Alabama,7,202400.0,18820.0,175890.0,5840.0,121460.0,...,201840.0,3541123.0,850.0,240.0,440.0,166.0,80640.0,371780.0,114450.0,449311.0
7,1,AL,0,Alabama,8,53390.0,4380.0,47580.0,950.0,40960.0,...,53350.0,5779823.0,20860.0,36718.0,27690.0,104622.0,29700.0,863579.0,16300.0,290677.0
8,1,AL,1,Autauga County,1,210.0,120.0,80.0,0.0,140.0,...,30.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,308.0
9,1,AL,1,Autauga County,2,3350.0,2650.0,230.0,430.0,1320.0,...,770.0,372.0,0.0,0.0,0.0,0.0,230.0,99.0,2880.0,2886.0

In [2]:
# #Removing state-level data
irs_pd = irs_pd[irs_pd.COUNTYFIPS !=0]

#Combining State and County columns to more easily merge with CDC data
irs_pd["COUNTYNAME"] = irs_pd["COUNTYNAME"] + ", " + irs_pd["STATE"]

#Removing Rows with Missing Data
irs_pd = irs_pd.dropna(how='any')

#Pulling Needed Information
irs_basic = irs_pd[["COUNTYNAME", "agi_stub", "N1", "A00200"]]
irs_basic.head(10)

            COUNTYNAME  agi_stub       N1    A00200
8   Autauga County, AL         1    210.0    1403.0
9   Autauga County, AL         2   3350.0   14437.0
10  Autauga County, AL         3   5620.0   77486.0
11  Autauga County, AL         4   5410.0  159789.0
12  Autauga County, AL         5   3420.0  163864.0
13  Autauga County, AL         6   2450.0  163709.0
14  Autauga County, AL         7   3000.0  302302.0
15  Autauga County, AL         8    360.0   61298.0
16  Baldwin County, AL         1   1710.0   13073.0
17  Baldwin County, AL         2  13400.0   53151.0

In [3]:
#Renaming Columns
irs_rename = irs_basic.rename(columns={"COUNTYNAME":"County",
                                       "agi_stub":"Adjusted Gross Income",
                                       "N1":"Number of Returns",
                                       "A00200":"Total Salaries & Wages"})

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",1,210.0,1403.0
9,"Autauga County, AL",2,3350.0,14437.0
10,"Autauga County, AL",3,5620.0,77486.0
11,"Autauga County, AL",4,5410.0,159789.0
12,"Autauga County, AL",5,3420.0,163864.0
13,"Autauga County, AL",6,2450.0,163709.0
14,"Autauga County, AL",7,3000.0,302302.0
15,"Autauga County, AL",8,360.0,61298.0
16,"Baldwin County, AL",1,1710.0,13073.0
17,"Baldwin County, AL",2,13400.0,53151.0

In [4]:
#Cleaning Adjusted Gross Income
irs_rename.loc[:, "Adjusted Gross Income"] = irs_rename["Adjusted Gross Income"].astype("str")

irs_rename['Adjusted Gross Income'] = irs_rename['Adjusted Gross Income'].replace(
    {'0': 'No AGI Stub',
     '1': 'Under $1',
     '2': '1 - $9,999',
     '3': '10,000 - $24,999',
     '4': '25,000 - $49,999',
     '5': '50,000 - $74,999',
     '6': '75,000 - $99,999',
     '7': '100,000 - $199,999',
     '8': '$200,000 or more'
    })

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",Under $1,210.0,1403.0
9,"Autauga County, AL","1 - $9,999",3350.0,14437.0
10,"Autauga County, AL","10,000 - $24,999",5620.0,77486.0
11,"Autauga County, AL","25,000 - $49,999",5410.0,159789.0
12,"Autauga County, AL","50,000 - $74,999",3420.0,163864.0
13,"Autauga County, AL","75,000 - $99,999",2450.0,163709.0
14,"Autauga County, AL","100,000 - $199,999",3000.0,302302.0
15,"Autauga County, AL","$200,000 or more",360.0,61298.0
16,"Baldwin County, AL",Under $1,1710.0,13073.0
17,"Baldwin County, AL","1 - $9,999",13400.0,53151.0

In [60]:
# state_counts = usa_ufo_df["state"].value_counts()
# state_counts.head()

income_counts = irs_rename.groupby(["County"])
income_counts.head()

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",Under $1,210.0,1403.0
9,"Autauga County, AL","1 - $9,999",3350.0,14437.0
10,"Autauga County, AL","10,000 - $24,999",5620.0,77486.0
11,"Autauga County, AL","25,000 - $49,999",5410.0,159789.0
12,"Autauga County, AL","50,000 - $74,999",3420.0,163864.0
16,"Baldwin County, AL",Under $1,1710.0,13073.0
17,"Baldwin County, AL","1 - $9,999",13400.0,53151.0
18,"Baldwin County, AL","10,000 - $24,999",21380.0,267123.0
19,"Baldwin County, AL","25,000 - $49,999",20160.0,542282.0
20,"Baldwin County, AL","50,000 - $74,999",12100.0,516479.0
24,"Barbour County, AL",Under $1,160.0,554.0
25,"Barbour County, AL","1 - $9,999",1600.0,7042.0
26,"Barbour County, AL","10,000 - $24,999",3240.0,45086.0
27,"Barbour County, AL","25,000 - $49,999",2460.0,71571.0
28,"Barbour County, AL","50,000 - $74,999",960.0,42442.0
32,"Bibb County, AL",Under $1,70.0,0.0
33,"Bibb County, AL","1 - $9,999",1120.0,5081.0
34,"Bibb County, AL","10,000 - $24,999",2180.0,29615.0
35,"Bibb County, AL","25,000 - $49,999",2080.0,64284.0
36,"Bibb County, AL","50,000 - $74,999",1150.0,58270.0
40,"Blount County, AL",Under $1,290.0,1479.0
41,"Blount County, AL","1 - $9,999",3130.0,12234.0
42,"Blount County, AL","10,000 - $24,999",5120.0,64161.0
43,"Blount County, AL","25,000 - $49,999",5680.0,168699.0
44,"Blount County, AL","50,000 - $74,999",3430.0,171090.0
48,"Bullock County, AL",Under $1,50.0,0.0
49,"Bullock County, AL","1 - $9,999",560.0,2516.0
50,"Bullock County, AL","10,000 - $24,999",1570.0,24697.0
51,"Bullock County, AL","25,000 - $49,999",1010.0,31280.0
52,"Bullock County, AL","50,000 - $74,999",350.0,15862.0
...,...,...,...,...
25488,"Sublette County, WY",Under $1,110.0,1162.0
25489,"Sublette County, WY","1 - $9,999",470.0,2015.0
25490,"Sublette County, WY","10,000 - $24,999",590.0,7546.0
25491,"Sublette County, WY","25,000 - $49,999",740.0,21139.0
25492,"Sublette County, WY","50,000 - $74,999",740.0,35929.0
25496,"Sweetwater County, WY",Under $1,170.0,1282.0
25497,"Sweetwater County, WY","1 - $9,999",2460.0,11310.0
25498,"Sweetwater County, WY","10,000 - $24,999",3400.0,47547.0
25499,"Sweetwater County, WY","25,000 - $49,999",3790.0,113308.0
25500,"Sweetwater County, WY","50,000 - $74,999",3310.0,172501.0
25504,"Teton County, WY",Under $1,430.0,5527.0
25505,"Teton County, WY","1 - $9,999",1480.0,6306.0
25506,"Teton County, WY","10,000 - $24,999",2520.0,36072.0
25507,"Teton County, WY","25,000 - $49,999",3760.0,116842.0
25508,"Teton County, WY","50,000 - $74,999",1830.0,87151.0
25512,"Uinta County, WY",Under $1,120.0,1526.0
25513,"Uinta County, WY","1 - $9,999",1310.0,6232.0
25514,"Uinta County, WY","10,000 - $24,999",1640.0,22546.0
25515,"Uinta County, WY","25,000 - $49,999",1850.0,55785.0
25516,"Uinta County, WY","50,000 - $74,999",1360.0,68898.0
25520,"Washakie County, WY",Under $1,70.0,533.0
25521,"Washakie County, WY","1 - $9,999",600.0,2579.0
25522,"Washakie County, WY","10,000 - $24,999",720.0,8924.0
25523,"Washakie County, WY","25,000 - $49,999",880.0,24353.0
25524,"Washakie County, WY","50,000 - $74,999",640.0,30099.0
25528,"Weston County, WY",Under $1,60.0,470.0
25529,"Weston County, WY","1 - $9,999",440.0,1942.0
25530,"Weston County, WY","10,000 - $24,999",590.0,7298.0
25531,"Weston County, WY","25,000 - $49,999",610.0,17492.0
25532,"Weston County, WY","50,000 - $74,999",500.0,24123.0

In [5]:
#Importing Raw CDC Data
cdc_pd = pd.read_csv("Raw Data/CDC Dataset - Heart Disease by County.csv")
cdc_pd.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [6]:
#Removing state-level data
cdc_pd = cdc_pd[cdc_pd.GeographicLevel !="State"]

#Removing Insufficient Data
cdc_pd = cdc_pd[cdc_pd.Data_Value_Footnote_Symbol !="~"]

#Combining State and County columns to more easily merge with IRS data
cdc_pd["LocationDesc"] = cdc_pd["LocationDesc"] + ", " + cdc_pd["LocationAbbr"]

#Pulling Needed Information
cdc_basic = cdc_pd[["LocationAbbr",
                    "LocationDesc",
                    "Data_Value",
                    "Stratification1",
                    "Stratification2",
                    "Location 1"]]
cdc_basic.head()

,LocationAbbr,LocationDesc,Data_Value,Stratification1,Stratification2,Location 1
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"

In [7]:
#Renaming Columns
cdc_rename = cdc_basic.rename(columns={"LocationAbbr":"State",
                                       "LocationDesc":"County",
                                       "Data_Value":"Deaths per 100,000",
                                       "Stratification1":"Gender",
                                       "Stratification2":"Race/Ethnicity",
                                       "Location 1": "Geographical Coordinates"})

cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [8]:
#Dropping NaN Rows
cdc_rename = cdc_rename.dropna(how='any')
cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [9]:
df_merge = pd.merge(cdc_rename, irs_rename, on="County")
df_merge.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
0,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
1,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0
2,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","10,000 - $24,999",1270.0,15724.0
3,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","25,000 - $49,999",1680.0,48739.0
4,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","50,000 - $74,999",1080.0,50947.0
5,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","75,000 - $99,999",690.0,42393.0
6,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","100,000 - $199,999",1050.0,98756.0
7,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","$200,000 or more",220.0,27889.0
8,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
9,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0

In [71]:
# counties = ["Houston County, TN", "Martin County, TX"]
# places = [1, 4]

mcd_p_county = pd.read_csv("Mcdonalds_per_County.csv")
# TODO replace this df with pd.read_csv when ingest is done
counties_to_place_count_df = pd.DataFrame({"County": counties, "place_count": places})
counties_to_place_count_df

               County  place_count
0  Houston County, TN            1
1   Martin County, TX            4

In [72]:
mcd_p_county = pd.read_csv("Mcdonalds_per_County.csv")
mcd_p_county.head()

             county  Number of Mcdonalds
0    Ada County, ID                   30
1  Adams County, CO                   50
2  Adams County, IL                    4
3  Adams County, MS                    3
4  Adams County, ND                    1

In [74]:
mcd_p_county = mcd_p_county.rename(columns={"county":"County"})
mcd_p_county.head()

             County  Number of Mcdonalds
0    Ada County, ID                   30
1  Adams County, CO                   50
2  Adams County, IL                    4
3  Adams County, MS                    3
4  Adams County, ND                    1

In [80]:
final_data = pd.merge(df_merge, mcd_p_county, on="County")
final_data.head()

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages,Number of Mcdonalds
0,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)",Under $1,160.0,554.0,4
1,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)","1 - $9,999",1600.0,7042.0,4
2,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)","10,000 - $24,999",3240.0,45086.0,4
3,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)","25,000 - $49,999",2460.0,71571.0,4
4,AL,"Barbour County, AL",493.8,Overall,Overall,"(31.875526, -85.392733)","50,000 - $74,999",960.0,42442.0,4

In [90]:
male_data = final_data.groupby(["Gender"]).get_group(("Male"))
male_county = male_data.groupby(["County"])
male_county.head()

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages,Number of Mcdonalds
8,AL,"Barbour County, AL",630.4,Male,Overall,"(31.875526, -85.392733)",Under $1,160.0,554.0,4
9,AL,"Barbour County, AL",630.4,Male,Overall,"(31.875526, -85.392733)","1 - $9,999",1600.0,7042.0,4
10,AL,"Barbour County, AL",630.4,Male,Overall,"(31.875526, -85.392733)","10,000 - $24,999",3240.0,45086.0,4
11,AL,"Barbour County, AL",630.4,Male,Overall,"(31.875526, -85.392733)","25,000 - $49,999",2460.0,71571.0,4
12,AL,"Barbour County, AL",630.4,Male,Overall,"(31.875526, -85.392733)","50,000 - $74,999",960.0,42442.0,4
80,AL,"Clarke County, AL",595.1,Male,Overall,"(31.685276, -87.828202)",Under $1,120.0,803.0,23
81,AL,"Clarke County, AL",595.1,Male,Overall,"(31.685276, -87.828202)","1 - $9,999",1430.0,6127.0,23
82,AL,"Clarke County, AL",595.1,Male,Overall,"(31.685276, -87.828202)","10,000 - $24,999",3050.0,39441.0,23
83,AL,"Clarke County, AL",595.1,Male,Overall,"(31.685276, -87.828202)","25,000 - $49,999",2480.0,73953.0,23
84,AL,"Clarke County, AL",595.1,Male,Overall,"(31.685276, -87.828202)","50,000 - $74,999",1250.0,62996.0,23
152,AL,"Colbert County, AL",672.7,Male,Overall,"(34.700954, -87.805794)",Under $1,260.0,1214.0,11
153,AL,"Colbert County, AL",672.7,Male,Overall,"(34.700954, -87.805794)","1 - $9,999",3710.0,15309.0,11
154,AL,"Colbert County, AL",672.7,Male,Overall,"(34.700954, -87.805794)","10,000 - $24,999",6070.0,75102.0,11
155,AL,"Colbert County, AL",672.7,Male,Overall,"(34.700954, -87.805794)","25,000 - $49,999",5770.0,156929.0,11
156,AL,"Colbert County, AL",672.7,Male,Overall,"(34.700954, -87.805794)","50,000 - $74,999",3240.0,147831.0,11
224,AL,"Covington County, AL",646.4,Male,Overall,"(31.249891, -86.449316)",Under $1,250.0,1183.0,4
225,AL,"Covington County, AL",646.4,Male,Overall,"(31.249891, -86.449316)","1 - $9,999",2400.0,10131.0,4
226,AL,"Covington County, AL",646.4,Male,Overall,"(31.249891, -86.449316)","10,000 - $24,999",4340.0,58101.0,4
227,AL,"Covington County, AL",646.4,Male,Overall,"(31.249891, -86.449316)","25,000 - $49,999",3630.0,102524.0,4
228,AL,"Covington County, AL",646.4,Male,Overall,"(31.249891, -86.449316)","50,000 - $74,999",1810.0,82527.0,4
296,AL,"DeKalb County, AL",679.9,Male,Overall,"(34.462067, -85.803144)",Under $1,460.0,2085.0,10
297,AL,"DeKalb County, AL",679.9,Male,Overall,"(34.462067, -85.803144)","1 - $9,999",4340.0,17402.0,10
298,AL,"DeKalb County, AL",679.9,Male,Overall,"(34.462067, -85.803144)","10,000 - $24,999",8320.0,115777.0,10
299,AL,"DeKalb County, AL",679.9,Male,Overall,"(34.462067, -85.803144)","25,000 - $49,999",7150.0,217239.0,10
300,AL,"DeKalb County, AL",679.9,Male,Overall,"(34.462067, -85.803144)","50,000 - $74,999",3230.0,163623.0,10
376,AL,"Greene County, AL",615.7,Male,Overall,"(32.861522, -87.9517)",Under $1,60.0,0.0,5
377,AL,"Greene County, AL",615.7,Male,Overall,"(32.861522, -87.9517)","1 - $9,999",580.0,2972.0,5
378,AL,"Greene County, AL",615.7,Male,Overall,"(32.861522, -87.9517)","10,000 - $24,999",1450.0,21468.0,5
379,AL,"Greene County, AL",615.7,Male,Overall,"(32.861522, -87.9517)","25,000 - $49,999",850.0,25238.0,5
380,AL,"Greene County, AL",615.7,Male,Overall,"(32.861522, -87.9517)","50,000 - $74,999",250.0,10274.0,5
...,...,...,...,...,...,...,...,...,...,...
39544,WV,"Randolph County, WV",442.6,Male,Overall,"(38.772515, -79.877508)",Under $1,150.0,837.0,30
39545,WV,"Randolph County, WV",442.6,Male,Overall,"(38.772515, -79.877508)","1 - $9,999",2250.0,8961.0,30
39546,WV,"Randolph County, WV",442.6,Male,Overall,"(38.772515, -79.877508)","10,000 - $24,999",3250.0,42633.0,30
39547,WV,"Randolph County, WV",442.6,Male,Overall,"(38.772515, -79.877508)","25,000 - $49,999",3070.0,87350.0,30
39548,WV,"Randolph County, WV",442.6,Male,Overall,"(38.772515, -79.877508)","50,000 - $74,999",1700.0,79942.0,30
39592,WV,"Ritchie County, WV",477.5,Male,Overall,"(39.179157, -81.064899)",Under $1,40.0,0.0,9
39593,WV,"Ritchie County, WV",477.5,Male,Overall,"(39.179157, -81.064899)","1 - $9,999",740.0,2778.0,9
39594,WV,"Ritchie County, WV",477.5,Male,Overall,"(39.179157, -81.064899)","10,000 - $24,999",990.0,12139.0,9
39595,WV,"Ritchie County, WV",477.5,Male,Overall,"(39.179157, -81.064899)","25,000 - $49,999",1130.0,32097.0,9
39596,WV,"Ritchie County, WV",477.5,Male,Overall,"(39.179157, -81.064899)","50,000 - $74,999",610.0,28982.0,9
39640,WV,"Roane County, WV",416.4,Male,Overall,"(38.716786, -81.351326)",Under $1,80.0,723.0,7
39641,WV,"Roane County, WV",416.4,Male,Overall,"(38.716786, -81.351326)","1 - $9,999",960.0,3350.0,7
39642,WV,"Roane County, WV",416.4,Male,Overall,"(38.716786, -81.351326)","10,000 - $24,999",1420.0,17366.0,7
39643,WV,"Roane County, WV",416.4,Male,Overall,"(38.716786, -81.351326)","25,000 - $49,999",1300.0,36770.0,7
39644,WV,"Roane County, WV",416.4,Male,Overall,"(38.716786, -81.351326)","50,000 - $74,999",780.0,38115.0,7
39712,WV,"Tyler County, WV",481.1,Male,Overall,"(39.464501, -80.884757)",Under $1,30.0,0.0,6
39713,WV,"Tyler County, WV",481.1,Male,Overall,"(39.464501, -80.884757)","1 - $9,999",620.0,2464.0,6
39714,WV,"Tyler County, WV",481.1,Male,Overall,"(39.464501, -80.884757)","10,000 - $24,999",930.0,9824.0,6
39715,WV,"Tyler County, WV",481.1,Male,Overall,"(39.464501, -80.884757)","25,000 - $49,999",870.0,22501.0,6
39716,WV,"Tyler County, WV",481.1,Male,Overall,"(39.464501, -80.884757)","50,000 - $74,999",560.0,24648.0,6
39760,WY,"Hot Springs County, WY",378.3,Male,Overall,"(43.720797, -108.444674)",Under $1,50.0,0.0,3
39761,WY,"Hot Springs County, WY",378.3,Male,Overall,"(43.720797, -108.444674)","1 - $9,999",380.0,1405.0,3
39762,WY,"Hot Springs County, WY",378.3,Male,Overall,"(43.720797, -108.444674)","10,000 - $24,999",500.0,5892.0,3
39763,WY,"Hot Springs County, WY",378.3,Male,Overall,"(43.720797, -108.444674)","25,000 - $49,999",520.0,13637.0,3
39764,WY,"Hot Springs County, WY",378.3,Male,Overall,"(43.720797, -108.444674)","50,000 - $74,999",330.0,14346.0,3
39824,WY,"Teton County, WY",299.0,Male,Overall,"(43.925881, -110.593841)",Under $1,430.0,5527.0,2
39825,WY,"Teton County, WY",299.0,Male,Overall,"(43.925881, -110.593841)","1 - $9,999",1480.0,6306.0,2
39826,WY,"Teton County, WY",299.0,Male,Overall,"(43.925881, -110.593841)","10,000 - $24,999",2520.0,36072.0,2
39827,WY,"Teton County, WY",299.0,Male,Overall,"(43.925881, -110.593841)","25,000 - $49,999",3760.0,116842.0,2
39828,WY,"Teton County, WY",299.0,Male,Overall,"(43.925881, -110.593841)","50,000 - $74,999",1830.0,87151.0,2

In [10]:
df_merge.to_csv("Clean_Data_Merged.csv", index=False, header=True)

In [11]:
unique_counties = df_merge["County"].unique()
len(unique_counties)

3000

In [12]:
random.shuffle(unique_counties)
county_pull = unique_counties[:5]
county_pull

array(['Lewis County, ID', 'Bowie County, TX', 'Desha County, AR',
       'Gasconade County, MO', 'Berkshire County, MA'], dtype=object)

In [13]:
from pprint import pprint
#creating a funtion that defines params for each county
def get_places(county, page_token):
    params = {
        "query": "mcdonald's",
        "key": g_api,
        "radius": 1000,
        "type":  "restaurant",
        "location": "40.3616,-83.3362"
        }
    #using the page token
    if page_token:
        print('using token')
        params['pagetoken'] = page_token
    
    base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    response = requests.get(base_url, params=params)
 
    return response.json()

In [53]:
# geocoordinates


county = county_pull[0]
# types = ["cafe",
#          "restaurant",
#          "food"]
# keyword = "fast food"
# q_phrase = county + "fast food"

# # # set up a parameters dictionary
# params = {
#     "location": county,
#     "categories": keyword,
#     "type": types,
#     "Authorization": "hmByUdhcTsKM5JLBq37ooaCx3D7jHwSi0UvVuwEnkeLWqjR67y8gvikOg1_Dy8kHOyamyarCr8jrZezYsBLdnicQat6RpFWY6unLYr7df72YUp-ve2yG66uPsV1oXXYx"
# #     "query": q_phrase,
# #     "key": g_api
# }

# # # base url
# base_url = "https://api.yelp.com/v3/businesses/search"

# # # run a request using our params dictionary
# response = requests.get(base_url, params=params)

# # # convert response to json
# places_data = response.json()

# # # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))
# # county

# #using time so api does not time out
# from time import sleep

# rest_list = []

# #creating a loop that uses previous params for each county
# for county in county_pull[:1]:

#     page_token = None
        
#     #using a while loop to countiously loop until False    
#     while True:
        
#         places_data = get_places(county, page_token)

#         #for loop to loop through multiple pages and grab each resturant
#         #within each county
#         for i in range(0 ,len(places_data['results'])):
#             rest_list.append({'county': county, 'place_name': places_data["results"][i]["name"]})
        
#         #using the page token until no more tokens left
#         page_token = places_data.get('next_page_token', None)
#         print(f'county {county} {page_token}')
#         sleep(2)
#         if not page_token:
#             print('breaking')
#             break

rest_list = []
API_KEY = "hmByUdhcTsKM5JLBq37ooaCx3D7jHwSi0UvVuwEnkeLWqjR67y8gvikOg1_Dy8kHOyamyarCr8jrZezYsBLdnicQat6RpFWY6unLYr7df72YUp-ve2yG66uPsV1oXXYx"

url = "https://api.yelp.com/v3/businesses/search"

params = {
    "Authorization": API_KEY,
    "location": county,
    "term": "McDonalds",
    "categories": "hotdogs"
}

# Defaults for our simple example.
# DEFAULT_TERM = 'fast food'
# DEFAULT_LOCATION = county
# SEARCH_LIMIT = 3

response = requests.get(url, params=params, headers={"Authorization": f"Bearer {API_KEY}"}).json()
print(len(response))
pprint(response)

3
{'businesses': [{'alias': 'mcdonalds-lewiston-3',
                 'categories': [{'alias': 'hotdogs', 'title': 'Fast Food'},
                                {'alias': 'burgers', 'title': 'Burgers'},
                                {'alias': 'coffee', 'title': 'Coffee & Tea'}],
                 'coordinates': {'latitude': 46.3902, 'longitude': -116.98939},
                 'display_phone': '(208) 746-3032',
                 'distance': 51258.50143681762,
                 'id': 'Iwwo2f9Q0IzGNhFBMPUxCA',
                 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/pApp-GhtbHPpQkxiduRX3w/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '119 Thain Rd',
                              'address2': None,
                              'address3': None,
                              'city': 'Lewiston',
                              'country': 'US',
                              'display_address': ['119 Thain Rd',
                                                  'Lewiston, ID 83501'],
                              'state': 'ID',
                              'zip_code': '83501'},
                 'name': "McDonald's",
                 'phone': '+12087463032',
                 'price': '$',
                 'rating': 3.5,
                 'review_count': 5,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/mcdonalds-lewiston-3?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'jack-in-the-box-pullman',
                 'categories': [{'alias': 'hotdogs', 'title': 'Fast Food'},
                                {'alias': 'breakfast_brunch',
                                 'title': 'Breakfast & Brunch'},
                                {'alias': 'burgers', 'title': 'Burgers'}],
                 'coordinates': {'latitude': 46.739899468314,
                                 'longitude': -117.172158227177},
                 'display_phone': '(509) 332-5317',
                 'distance': 84010.26401468752,
                 'id': 'GyEGEKofFeXUc6QfmBZoGQ',
                 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/iPZg4e_a4KMMYbR8p1FeaQ/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '310 Ne Stadium Way',
                              'address2': '',
                              'address3': '',
                              'city': 'Pullman',
                              'country': 'US',
                              'display_address': ['310 Ne Stadium Way',
                                                  'Pullman, WA 99163'],
                              'state': 'WA',
                              'zip_code': '99163'},
                 'name': 'Jack in the Box',
                 'phone': '+15093325317',
                 'price': '$',
                 'rating': 2.5,
                 'review_count': 21,
                 'transactions': ['delivery'],
                 'url': 'https://www.yelp.com/biz/jack-in-the-box-pullman?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'the-hangout-cottonwood',
                 'categories': [{'alias': 'burgers', 'title': 'Burgers'},
                                {'alias': 'hotdogs', 'title': 'Fast Food'},
                                {'alias': 'desserts', 'title': 'Desserts'}],
                 'coordinates': {'latitude': 46.0488545236036,
                                 'longitude': -116.3536222},
                 'display_phone': '(208) 962-7383',
                 'distance': 19994.48657572603,
                 'id': 'yTrU9M_j2NLZrys-9FRYag',
                 'image_url': '',
                 'is_closed': False,
                 'location': {'address1': '603 Front St',
                              'address2': '',
                              'address3': '',
                              'city': 'Cottonwood',
                              'country': 'US',
                              'display_address': ['603 Front St',
                                                  'Cottonwood, ID 83522'],
                              'state': 'ID',
                              'zip_code': '83522'},
                 'name': 'The Hangout',
                 'phone': '+12089627383',
                 'price': '$',
                 'rating': 4.5,
                 'review_count': 6,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/the-hangout-cottonwood?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'zips-drive-in-moscow-moscow',
                 'categories': [{'alias': 'burgers', 'title': 'Burgers'},
                                {'alias': 'hotdogs', 'title': 'Fast Food'},
                                {'alias': 'juicebars',
                                 'title': 'Juice Bars & Smoothies'}],
                 'coordinates': {'latitude': 46.7329005071565,
                                 'longitude': -117.019064567142},
                 'display_phone': '(208) 883-0678',
                 'distance': 75218.67226947144,
                 'id': 'e78BAunuFnP4MiQy9WwC5Q',
                 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/mK1AyyW6IIgnnfNa1dCWng/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '1222 W Pullman Rd',
                              'address2': '',
                              'address3': '',
                              'city': 'Moscow',
                              'country': 'US',
                              'display_address': ['1222 W Pullman Rd',
                                                  'Moscow, ID 83843'],
                              'state': 'ID',
                              'zip_code': '83843'},
                 'name': 'Zips Drive-In - Moscow',
                 'phone': '+12088830678',
                 'price': '$',
                 'rating': 3.0,
                 'review_count': 21,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/zips-drive-in-moscow-moscow?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'taco-johns-lewiston',
                 'categories': [{'alias': 'mexican', 'title': 'Mexican'},
                                {'alias': 'hotdogs', 'title': 'Fast Food'}],
                 'coordinates': {'latitude': 46.4014319023852,
                                 'longitude': -117.033012852116},
                 'display_phone': '(208) 746-3498',
                 'distance': 54829.086050381105,
                 'id': '77epfbZfVxvDwxTKdhITBA',
                 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/RKiZmjyYr4PzNy8nZSSzxQ/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '99 Southway Ave',
                              'address2': '',
                              'address3': '',
                              'city': 'Lewiston',
                              'country': 'US',
                              'display_address': ['99 Southway Ave',
                                                  'Lewiston, ID 83501'],
                              'state': 'ID',
                              'zip_code': '83501'},
                 'name': "Taco John's",
                 'phone': '+12087463498',
                 'price': '$',
                 'rating': 3.0,
                 'review_count': 6,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/taco-johns-lewiston?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'panda-express-lewiston',
                 'categories': [{'alias': 'hotdogs', 'title': 'Fast Food'},
                                {'alias': 'chinese', 'title': 'Chinese'}],
                 'coordinates': {'latitude': 46.39826, 'longitude': -116.99923},
                 'display_phone': '(208) 743-0168',
                 'distance': 52251.903003144944,
                 'id': '3LQTBphJ-03dnRut9_bFbA',
                 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/3X9PDfc3stThjE5pAUAtgg/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '2221 Thain Grade',
                              'address2': '',
                              'address3': '',
                              'city': 'Lewiston',
                              'country': 'US',
                              'display_address': ['2221 Thain Grade',
                                                  'Lewiston, ID 83501'],
                              'state': 'ID',
                              'zip_code': '83501'},
                 'name': 'Panda Express',
                 'phone': '+12087430168',
                 'price': '$',
                 'rating': 3.5,
                 'review_count': 10,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/panda-express-lewiston?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'subway-grangeville-2',
                 'categories': [{'alias': 'sandwiches', 'title': 'Sandwiches'},
                                {'alias': 'hotdogs', 'title': 'Fast Food'}],
                 'coordinates': {'latitude': 45.92545, 'longitude': -116.13004},
                 'display_phone': '(208) 983-3054',
                 'distance': 38207.93059813914,
                 'id': 'Zu9rMKbgS89tCLD3Z3eSGw',
                 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/t7UJiLIwwcIub2wkyV-wWw/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '179 Greenacres Ln',
                              'address2': '',
                              'address3': '',
                              'city': 'Grangeville',
                              'country': 'US',
                              'display_address': ['179 Greenacres Ln',
                                                  'Grangeville, ID 83530'],
                              'state': 'ID',
                              'zip_code': '83530'},
                 'name': 'Subway',
                 'phone': '+12089833054',
                 'price': '$',
                 'rating': 4.0,
                 'review_count': 3,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/subway-grangeville-2?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'grub-wandering-kitchen-moscow',
                 'categories': [{'alias': 'foodtrucks', 'title': 'Food Trucks'},
                                {'alias': 'hotdogs', 'title': 'Fast Food'}],
                 'coordinates': {'latitude': 46.72747, 'longitude': -117.00151},
                 'display_phone': '(208) 907-1013',
                 'distance': 74219.31749800318,
                 'id': 'Tgbc_E1BSIo4cNtUjkLTaQ',
                 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/BcPDXtDjhZuP4o0jCe1ALQ/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '',
                              'address2': '',
                              'address3': '',
                              'city': 'Moscow',
                              'country': 'US',
                              'display_address': ['Moscow, ID 83843'],
                              'state': 'ID',
                              'zip_code': '83843'},
                 'name': 'Grub Wandering Kitchen',
                 'phone': '+12089071013',
                 'price': '$',
                 'rating': 5.0,
                 'review_count': 9,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/grub-wandering-kitchen-moscow?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'taco-johns-grangeville',
                 'categories': [{'alias': 'mexican', 'title': 'Mexican'},
                                {'alias': 'hotdogs', 'title': 'Fast Food'}],
                 'coordinates': {'latitude': 45.927237,
                                 'longitude': -116.131759},
                 'display_phone': '(208) 983-7508',
                 'distance': 38005.07405123039,
                 'id': 'oBXKwKvMr2nEWD0tSYN42g',
                 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/dokAfm3SMcqucFDb6k8TNQ/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '901 W Main St',
                              'address2': '',
                              'address3': '',
                              'city': 'Grangeville',
                              'country': 'US',
                              'display_address': ['901 W Main St',
                                                  'Grangeville, ID 83530'],
                              'state': 'ID',
                              'zip_code': '83530'},
                 'name': "Taco John's",
                 'phone': '+12089837508',
                 'rating': 3.5,
                 'review_count': 3,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/taco-johns-grangeville?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'subway-orofino',
                 'categories': [{'alias': 'hotdogs', 'title': 'Fast Food'},
                                {'alias': 'sandwiches', 'title': 'Sandwiches'}],
                 'coordinates': {'latitude': 46.49591, 'longitude': -116.29905},
                 'display_phone': '(208) 476-9968',
                 'distance': 30131.282831848388,
                 'id': 'hEoq83UHMtAAIIy2-kRCpA',
                 'image_url': '',
                 'is_closed': False,
                 'location': {'address1': '11330 Highway 12',
                              'address2': '',
                              'address3': '',
                              'city': 'Orofino',
                              'country': 'US',
                              'display_address': ['11330 Highway 12',
                                                  'Orofino, ID 83544'],
                              'state': 'ID',
                              'zip_code': '83544'},
                 'name': 'Subway',
                 'phone': '+12084769968',
                 'price': '$',
                 'rating': 3.0,
                 'review_count': 2,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/subway-orofino?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'panda-express-pullman',
                 'categories': [{'alias': 'chinese', 'title': 'Chinese'},
                                {'alias': 'hotdogs', 'title': 'Fast Food'}],
                 'coordinates': {'latitude': 46.7309858441664,
                                 'longitude': -117.162373489861},
                 'display_phone': '(509) 332-7310',
                 'distance': 82791.96160978601,
                 'id': 'ctY_iiCKGrQqTwth39H6Bw',
                 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/EKcKW8pddLehD8XErkNTiw/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '1500 NE Terrell Mall',
                              'address2': 'Level 1 Rm 100',
                              'address3': '',
                              'city': 'Pullman',
                              'country': 'US',
                              'display_address': ['1500 NE Terrell Mall',
                                                  'Level 1 Rm 100',
                                                  'Pullman, WA 99163'],
                              'state': 'WA',
                              'zip_code': '99163'},
                 'name': 'Panda Express',
                 'phone': '+15093327310',
                 'price': '$',
                 'rating': 4.0,
                 'review_count': 10,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/panda-express-pullman?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'jack-in-the-box-lewiston',
                 'categories': [{'alias': 'hotdogs', 'title': 'Fast Food'},
                                {'alias': 'burgers', 'title': 'Burgers'},
                                {'alias': 'breakfast_brunch',
                                 'title': 'Breakfast & Brunch'}],
                 'coordinates': {'latitude': 46.4155191,
                                 'longitude': -117.0039944},
                 'display_phone': '(208) 798-7410',
                 'distance': 53308.28975700878,
                 'id': '1ZEat14LebQBatQwEtA-3g',
                 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/O_Q2Ju689h3-0ehzb1U6sw/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '1903 G St',
                              'address2': '',
                              'address3': '',
                              'city': 'Lewiston',
                              'country': 'US',
                              'display_address': ['1903 G St',
                                                  'Lewiston, ID 83501'],
                              'state': 'ID',
                              'zip_code': '83501'},
                 'name': 'Jack in the Box',
                 'phone': '+12087987410',
                 'price': '$',
                 'rating': 2.0,
                 'review_count': 3,
                 'transactions': [],
                 'url': 'https://www.yelp.com/biz/jack-in-the-box-lewiston?adjust_creative=mKSDL94iq0k16cpMR6eaGw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=mKSDL94iq0k16cpMR6eaGw'},
                {'alias': 'arbys-clarkston',
                 'categories': [{'alias': 'hotdogs', 'title': 'Fast Food'},
                                {'alias': 'sandwiches', 'title': 'Sandwiches'}],
                 'coordinates': {'latitude': 46.419485360384,
                                 'longitude': -117.040282487869},
                 'display_phone': '(509) 751-9601',
                 'distance': 56038.007270602255,
                 'id': 'aE21xZH_lz8s_d9J91h4UA',
                 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/uNyuFqVPduLCs-bxSYX9nw/o.jpg',
                 'is_closed': False,
                 'location': {'address1': '517 2nd St',
                              'address2': '',
                              'address3': '',
                              'city': 'Clarkston',
                              'country': 'US',
                              'display_address': ['517 2nd St',
                                                  'Clarkston, WA 99403'],
                              'state': 'WA',
                              'zip_code': '99403'},
                 'name': "Arby's",
                 'phone': '+15097519601',
                 'price': '$',
                 'rating': 4.0,
                 'review_count': 6,
                 'transactions': [],

In [ ]:
rest_df = pd.DataFrame(rest_list)
rest_df