In [129]:
import pandas as pd
import random
import requests
import json

g_api = ""

#Importing Raw IRS Data
irs_pd = pd.read_csv("Raw Data/IRS Dataset by County.csv")
irs_pd.head(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,25120.0,14000.0,9140.0,1110.0,17260.0,...,4530.0,9068.0,70.0,97.0,0.0,0.0,2750.0,3791.0,10210.0,35026.0
1,1,AL,0,Alabama,2,300920.0,223950.0,26770.0,46400.0,156430.0,...,77720.0,45164.0,0.0,0.0,0.0,0.0,23290.0,10777.0,250850.0,296608.0
2,1,AL,0,Alabama,3,549200.0,257890.0,88300.0,194060.0,323470.0,...,312340.0,280080.0,0.0,0.0,0.0,0.0,39900.0,37545.0,494200.0,1668817.0
3,1,AL,0,Alabama,4,491350.0,200730.0,150260.0,125560.0,281320.0,...,397110.0,950375.0,30.0,20.0,0.0,0.0,70960.0,102612.0,413810.0,1177609.0
4,1,AL,0,Alabama,5,259320.0,75790.0,142750.0,34060.0,156510.0,...,250010.0,1316842.0,0.0,0.0,0.0,0.0,62330.0,133274.0,191980.0,538147.0
5,1,AL,0,Alabama,6,164700.0,26720.0,125180.0,10400.0,99550.0,...,163440.0,1389769.0,0.0,0.0,0.0,0.0,45250.0,125396.0,115550.0,376309.0
6,1,AL,0,Alabama,7,202400.0,18820.0,175890.0,5840.0,121460.0,...,201840.0,3541123.0,850.0,240.0,440.0,166.0,80640.0,371780.0,114450.0,449311.0
7,1,AL,0,Alabama,8,53390.0,4380.0,47580.0,950.0,40960.0,...,53350.0,5779823.0,20860.0,36718.0,27690.0,104622.0,29700.0,863579.0,16300.0,290677.0
8,1,AL,1,Autauga County,1,210.0,120.0,80.0,0.0,140.0,...,30.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,308.0
9,1,AL,1,Autauga County,2,3350.0,2650.0,230.0,430.0,1320.0,...,770.0,372.0,0.0,0.0,0.0,0.0,230.0,99.0,2880.0,2886.0

In [130]:
# #Removing state-level data
irs_pd = irs_pd[irs_pd.COUNTYFIPS !=0]

#Combining State and County columns to more easily merge with CDC data
irs_pd["COUNTYNAME"] = irs_pd["COUNTYNAME"] + ", " + irs_pd["STATE"]

#Removing Rows with Missing Data
irs_pd = irs_pd.dropna(how='any')

#Pulling Needed Information
irs_basic = irs_pd[["COUNTYNAME", "agi_stub", "N1", "A00200"]]
irs_basic.head(10)

            COUNTYNAME  agi_stub       N1    A00200
8   Autauga County, AL         1    210.0    1403.0
9   Autauga County, AL         2   3350.0   14437.0
10  Autauga County, AL         3   5620.0   77486.0
11  Autauga County, AL         4   5410.0  159789.0
12  Autauga County, AL         5   3420.0  163864.0
13  Autauga County, AL         6   2450.0  163709.0
14  Autauga County, AL         7   3000.0  302302.0
15  Autauga County, AL         8    360.0   61298.0
16  Baldwin County, AL         1   1710.0   13073.0
17  Baldwin County, AL         2  13400.0   53151.0

In [131]:
#Renaming Columns
irs_rename = irs_basic.rename(columns={"COUNTYNAME":"County",
                                       "agi_stub":"Adjusted Gross Income",
                                       "N1":"Number of Returns",
                                       "A00200":"Total Salaries & Wages"})

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",1,210.0,1403.0
9,"Autauga County, AL",2,3350.0,14437.0
10,"Autauga County, AL",3,5620.0,77486.0
11,"Autauga County, AL",4,5410.0,159789.0
12,"Autauga County, AL",5,3420.0,163864.0
13,"Autauga County, AL",6,2450.0,163709.0
14,"Autauga County, AL",7,3000.0,302302.0
15,"Autauga County, AL",8,360.0,61298.0
16,"Baldwin County, AL",1,1710.0,13073.0
17,"Baldwin County, AL",2,13400.0,53151.0

In [132]:
#Cleaning Adjusted Gross Income
irs_rename.loc[:, "Adjusted Gross Income"] = irs_rename["Adjusted Gross Income"].astype("str")

irs_rename['Adjusted Gross Income'] = irs_rename['Adjusted Gross Income'].replace(
    {'0': 'No AGI Stub',
     '1': 'Under $1',
     '2': '1 - $9,999',
     '3': '10,000 - $24,999',
     '4': '25,000 - $49,999',
     '5': '50,000 - $74,999',
     '6': '75,000 - $99,999',
     '7': '100,000 - $199,999',
     '8': '$200,000 or more'
    })

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",Under $1,210.0,1403.0
9,"Autauga County, AL","1 - $9,999",3350.0,14437.0
10,"Autauga County, AL","10,000 - $24,999",5620.0,77486.0
11,"Autauga County, AL","25,000 - $49,999",5410.0,159789.0
12,"Autauga County, AL","50,000 - $74,999",3420.0,163864.0
13,"Autauga County, AL","75,000 - $99,999",2450.0,163709.0
14,"Autauga County, AL","100,000 - $199,999",3000.0,302302.0
15,"Autauga County, AL","$200,000 or more",360.0,61298.0
16,"Baldwin County, AL",Under $1,1710.0,13073.0
17,"Baldwin County, AL","1 - $9,999",13400.0,53151.0

In [133]:
#Importing Raw CDC Data
cdc_pd = pd.read_csv("Raw Data/CDC Dataset - Heart Disease by County.csv")
cdc_pd.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [134]:
#Removing state-level data
cdc_pd = cdc_pd[cdc_pd.GeographicLevel !="State"]

#Removing Insufficient Data
cdc_pd = cdc_pd[cdc_pd.Data_Value_Footnote_Symbol !="~"]

#Combining State and County columns to more easily merge with IRS data
cdc_pd["LocationDesc"] = cdc_pd["LocationDesc"] + ", " + cdc_pd["LocationAbbr"]

#Pulling Needed Information
cdc_basic = cdc_pd[["LocationAbbr",
                    "LocationDesc",
                    "Data_Value",
                    "Stratification1",
                    "Stratification2",
                    "Location 1"]]
cdc_basic.head()

,LocationAbbr,LocationDesc,Data_Value,Stratification1,Stratification2,Location 1
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"

In [135]:
#Renaming Columns
cdc_rename = cdc_basic.rename(columns={"LocationAbbr":"State",
                                       "LocationDesc":"County",
                                       "Data_Value":"Deaths per 100,000",
                                       "Stratification1":"Gender",
                                       "Stratification2":"Race/Ethnicity",
                                       "Location 1": "Geographical Coordinates"})

cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [136]:
#Dropping NaN Rows
cdc_rename = cdc_rename.dropna(how='any')
cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [137]:
df_merge = pd.merge(cdc_rename, irs_rename, on="County")
df_merge.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
0,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
1,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0
2,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","10,000 - $24,999",1270.0,15724.0
3,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","25,000 - $49,999",1680.0,48739.0
4,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","50,000 - $74,999",1080.0,50947.0
5,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","75,000 - $99,999",690.0,42393.0
6,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","100,000 - $199,999",1050.0,98756.0
7,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","$200,000 or more",220.0,27889.0
8,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
9,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0

In [138]:
df_merge.to_csv("Clean_Data_Merged.csv", index=False, header=True)

PermissionError: [Errno 13] Permission denied: 'Clean_Data_Merged.csv'

In [ ]:
unique_counties = df_merge["County"].unique()
len(unique_counties)

In [ ]:
random.shuffle(unique_counties)
county_pull = unique_counties[:500]
county_pull

In [156]:
# geocoordinates
#target_search = "Chinese"

target_type = "restaurant"
county = county_pull[0]
types = ["point_of_interest",
         "restaurant",
         "food"]

# set up a parameters dictionary
params = {
    "location": "43.6187102, -116.2146068",
    "name": "Burger",
    "radius": 50000,
    "type": "restaurant",
    "key": g_api
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()

# Print the json (pretty printed)
print(json.dumps(places_data, indent=4, sort_keys=True))

{
    "html_attributions": [],
    "next_page_token": "CrQCIwEAAA4M66K_9cBUBkBQzUU4T1k8P3qqcJGZAVlm7kpVxGVXEEzNYMQkDpctoVB4RiIwdNCRnWOakch-V2yQs_ARdNd6kp5jw0-j_GeVaw2nHa69kQiUi0RsLRpeJQQ7ykDVDHJvBbR37_zIkioPwEBRMxHqsqZqbeJmgZtjhvRdU-AL9f-JONAG6uZPpmIbrny5VPRe4cZ9RMELaNcD7Q883Hfw7FhRO68wMHlRIxZVbqB5PT9oC156b3IKgvPgr_Mr89O2XBn2Ec-rtbtj1IycMcRuukp51diwEVvkG1x8MTRMy39liHZG_QCJ42hf3N-SQQSVsjMAQW6qHBRe-x8y0M5Dv5eyj4K8VDuqShsrAEx3hz0zpbK-GvvOIiwDzRYnS9kzv--jBaRtj3g4Kv7QZvcSEIlo2EToYBdH7uivBRUVPOYaFEB0nYdgHOTgBJdc5W_LbN3oW41E",
    "results": [
        {
            "formatted_address": "224 N 10th St, Boise, ID 83702",
            "geometry": {
                "location": {
                    "lat": 43.6179926,
                    "lng": -116.2044116
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61939097989272,
                        "lng": -116.2031573701073
                    },
                    "southwest": {
                        "lat": 43.61669132010728,
                        "lng": -116.2058570298927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "8c778be24dece89a95d2fef9d4267ed7b4d95eff",
            "name": "Lemon Tree Co.",
            "opening_hours": {
                "open_now": false
            },
            "photos": [
                {
                    "height": 4032,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/116041026040030657593/photos\">Lyndsay Gomez</a>"
                    ],
                    "photo_reference": "CmRaAAAAVO2AIaOPTsA4HWZfrxzZ9PWEQa8wvW-fGWfr0VCC1I7w1_lrhkxN-Lw7VC7DfisE5pWtkr0EwijWerdpbk3hyGodrUYmyt2eo1t1wt9OYDP0oCeoYNRGCvQgWsKwPlvMEhD89KD2UCSmlm2ndOoh5zKjGhSTrGPpUzyPydMV7R_f8dQoyZNcGw",
                    "width": 3024
                }
            ],
            "place_id": "ChIJAQDQBOT4rlQRYpcTR9km7Wg",
            "plus_code": {
                "compound_code": "JQ9W+56 Boise, Idaho",
                "global_code": "85M5JQ9W+56"
            },
            "rating": 4.7,
            "reference": "ChIJAQDQBOT4rlQRYpcTR9km7Wg",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 148
        },
        {
            "formatted_address": "11 N Orchard St, Boise, ID 83706",
            "geometry": {
                "location": {
                    "lat": 43.6047903,
                    "lng": -116.2438737
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.60613752989272,
                        "lng": -116.2424400701073
                    },
                    "southwest": {
                        "lat": 43.60343787010728,
                        "lng": -116.2451397298927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "6fbcfe57270a1a95f8730d0927ea15d82f9a8d95",
            "name": "Luciano's Italian Restaurant",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 1080,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/112513186907549111668/photos\">J schroeder</a>"
                    ],
                    "photo_reference": "CmRaAAAAeel6ev6mINv1DzkyJh4K2GoNbV1tfB4LC8tFYQxK5zcniB3VhHLQgiL2IBKM9U7YxKQI1CrC_Z7QCtpZE0n72CPHTF50gmjc-1XmJNEXmBP0LhLot5T7i9FNNkBR-ZcnEhBIZWcLm2qTsEs36ZMJWQnwGhRxBOFXZSwDN1hFfbc-EeKt-y4hIw",
                    "width": 1920
                }
            ],
            "place_id": "ChIJj4wvWZ34rlQRSY5QAyHcdBY",
            "plus_code": {
                "compound_code": "JQ34+WF Boise, Idaho",
                "global_code": "85M5JQ34+WF"
            },
            "price_level": 2,
            "rating": 4.6,
            "reference": "ChIJj4wvWZ34rlQRSY5QAyHcdBY",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1517
        },
        {
            "formatted_address": "981 W Grove St, Boise, ID 83702",
            "geometry": {
                "location": {
                    "lat": 43.6155352,
                    "lng": -116.2064158
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61687357989272,
                        "lng": -116.2048644701073
                    },
                    "southwest": {
                        "lat": 43.61417392010727,
                        "lng": -116.2075641298927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "fd33d24784945e9c154086ad273a166e0185a908",
            "name": "Chandlers",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 1365,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/112648581692449918650/photos\">Chandlers Steakhouse-Boise</a>"
                    ],
                    "photo_reference": "CmRaAAAA_Cw6oHqrokgjBYV4A7hCU1QTe0JEyi1va7v62gb9TbsIQKhOY3XltaOzdgeuwdHXNpDNoayVAu6zV250G-6Vx0O-DR4dmpT4JIWJj-jRiDlJ1phGjbao-yM3VoPyIJibEhDfmJADiq1913rvLwquBk7hGhRb4_yxC_J1HRNXpzzZrySjFavwMw",
                    "width": 2048
                }
            ],
            "place_id": "ChIJC5Ayp-X4rlQREgo9eRuWv3I",
            "plus_code": {
                "compound_code": "JQ8V+6C Boise, Idaho",
                "global_code": "85M5JQ8V+6C"
            },
            "price_level": 4,
            "rating": 4.7,
            "reference": "ChIJC5Ayp-X4rlQREgo9eRuWv3I",
            "types": [
                "night_club",
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 796
        },
        {
            "formatted_address": "610 W Grove St, Boise, ID 83702",
            "geometry": {
                "location": {
                    "lat": 43.61392499999999,
                    "lng": -116.202285
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61526747989273,
                        "lng": -116.2009420201072
                    },
                    "southwest": {
                        "lat": 43.61256782010729,
                        "lng": -116.2036416798927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "b18c8331e9a9be90c9abe6afd1a2de6f896af68c",
            "name": "Bardenay Restaurant & Distillery - Boise",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 2400,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/117876291856790584829/photos\">Roseanne M</a>"
                    ],
                    "photo_reference": "CmRaAAAALmWM88DLdJmSjS9_4kJyBEMZgtx7GbikYixUueStQxhJM-BIPsHa1wfJTbsqjpl_L7YoOw5Mnchf00FQnUoiZA_eqekIVPPC_8QA-eN5zWnsVxKkFfWEionKPNv-BeVgEhD3jZMjtePQOGLGMT6UDl-WGhR8djXp0sb5lFS0QLehhWp9drbwLg",
                    "width": 3200
                }
            ],
            "place_id": "ChIJN8rsMvv4rlQRk0ZIq_0dQxI",
            "plus_code": {
                "compound_code": "JQ7X+H3 Boise, Idaho",
                "global_code": "85M5JQ7X+H3"
            },
            "price_level": 2,
            "rating": 4.5,
            "reference": "ChIJN8rsMvv4rlQRk0ZIq_0dQxI",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1369
        },
        {
            "formatted_address": "276 West Bobwhite Ct, Boise, ID 83706",
            "geometry": {
                "location": {
                    "lat": 43.5976065,
                    "lng": -116.1836037
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.59895612989272,
                        "lng": -116.1824193701073
                    },
                    "southwest": {
                        "lat": 43.59625647010728,
                        "lng": -116.1851190298927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "64d88e39d56b69fa116c3a08c1d12fbe5a19193c",
            "name": "Barbacoa Grill",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 2976,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/112400794606560161463/photos\">Del Zane</a>"
                    ],
                    "photo_reference": "CmRaAAAA7vA6Kqi0I7CwOlApKsyPVMHu_jox5lYPshrHWu8pRb3HPoMgHJ78POmSgubnFa7yWty3mml_KSzTnnq9IRJASf--fLcqGUOugzisPQMTntq9GBjsU9Ne7UgwNObLrZdFEhASPQQp8_V851HyKx-EexdFGhSbajASQlE4YWdvBc7Ze4J__u8R6w",
                    "width": 5312
                }
            ],
            "place_id": "ChIJq1FUdk74rlQRGnFPuu8B0dw",
            "plus_code": {
                "compound_code": "HRX8+2H Boise, Idaho",
                "global_code": "85M5HRX8+2H"
            },
            "price_level": 3,
            "rating": 4.6,
            "reference": "ChIJq1FUdk74rlQRGnFPuu8B0dw",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 2117
        },
        {
            "formatted_address": "246 N 8th St, Boise, ID 83702",
            "geometry": {
                "location": {
                    "lat": 43.6166633,
                    "lng": -116.2022481
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61805197989272,
                        "lng": -116.2009764201073
                    },
                    "southwest": {
                        "lat": 43.61535232010728,
                        "lng": -116.2036760798927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "80d87737ac384651f94d1285d1b8337dba88a4a6",
            "name": "Red Feather Lounge",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 1920,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/113569860608614345854/photos\">Stephen Kurant</a>"
                    ],
                    "photo_reference": "CmRaAAAAZZ3AHlpwxCq4aKRNwXwXhkCKO1wkGgm5ROGRr30pmHJib_uIzJ_dm-h2r1w9Vi9aKibxFlnSAPxgK3VxdfN6KlfNXpCEKuWcbPSBxE3mRgTRpUANUH7ackMx-TlpC25sEhBXa6Vwq0pvP-8rFJVb9SwQGhSGDmQB3Wti5ichCK3CUY4ASPgW-Q",
                    "width": 1080
                }
            ],
            "place_id": "ChIJh5cdf-T4rlQRiyAF4bY3vkk",
            "plus_code": {
                "compound_code": "JQ8X+M4 Boise, Idaho",
                "global_code": "85M5JQ8X+M4"
            },
            "price_level": 2,
            "rating": 4.6,
            "reference": "ChIJh5cdf-T4rlQRiyAF4bY3vkk",
            "types": [
                "night_club",
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 521
        },
        {
            "formatted_address": "199 N 8th St, Boise, ID 83702",
            "geometry": {
                "location": {
                    "lat": 43.61630410000001,
                    "lng": -116.2030425
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61761612989272,
                        "lng": -116.2016171201073
                    },
                    "southwest": {
                        "lat": 43.61491647010728,
                        "lng": -116.2043167798927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "8526db513f68532e4897359b715286f07da1dbfc",
            "name": "Fork",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 3024,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/105402092152536511908/photos\">Leonides Martinez</a>"
                    ],
                    "photo_reference": "CmRaAAAA6SQSXvhQTMiZ5HQ_0eWB_h8gL61Qqj53-IZ6bzYo_5vSKdK0pKFLNrI9sZ5wMGAoBdE7yxqRFJsl5aXzlJC3bw_CoIo03Aq42Pnx-RS_ILHjE2kMtVPZ-82tCKIHofJmEhB7A_6HuWdXxV0QDka7PdOGGhSEGcU_8OJfZcBuCx90ZsRFBFND9w",
                    "width": 4032
                }
            ],
            "place_id": "ChIJhZiKh-T4rlQRwIe2dmc7VAI",
            "plus_code": {
                "compound_code": "JQ8W+GQ Boise, Idaho",
                "global_code": "85M5JQ8W+GQ"
            },
            "price_level": 2,
            "rating": 4.4,
            "reference": "ChIJhZiKh-T4rlQRwIe2dmc7VAI",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 1673
        },
        {
            "formatted_address": "705 W Bannock St, Boise, ID 83702",
            "geometry": {
                "location": {
                    "lat": 43.616654,
                    "lng": -116.2017311
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61811697989273,
                        "lng": -116.2002693201073
                    },
                    "southwest": {
                        "lat": 43.61541732010728,
                        "lng": -116.2029689798927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "e04271671e10f253d8c617d197b1390d0fb5e163",
            "name": "Saint Lawrence Gridiron",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 3024,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/109603213579051417812/photos\">Paige Smith</a>"
                    ],
                    "photo_reference": "CmRaAAAAxl7DnTM94HZsfBmwNYBMk1EZvmiWeGg4VJhbbWNwY6FjwZjxNEWKhWYILQWljP33GTIR1XzxrHzHfQEpcKJSjRoa6Or9z_vvhJK_1GYKlfcSUhqfBmkOBjCSSGqJmhZNEhBBVR4Puzazc38bKat3EP9xGhQIo_ilLyzeDceUXcWr8TgXLAFeDA",
                    "width": 4032
                }
            ],
            "place_id": "ChIJo0gRveP4rlQRHPklnROR-98",
            "plus_code": {
                "compound_code": "JQ8X+M8 Boise, Idaho",
                "global_code": "85M5JQ8X+M8"
            },
            "price_level": 2,
            "rating": 4.5,
            "reference": "ChIJo0gRveP4rlQRHPklnROR-98",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 464
        },
        {
            "formatted_address": "105 S 6th St, Boise, ID 83702",
            "geometry": {
                "location": {
                    "lat": 43.6142944,
                    "lng": -116.2015668
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61559127989273,
                        "lng": -116.2001103701073
                    },
                    "southwest": {
                        "lat": 43.61289162010728,
                        "lng": -116.2028100298927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "9bd217015c7da6671028717e25fa55b811202d11",
            "name": "Reef",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 4032,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/115683889569422608978/photos\">Greg Dennler</a>"
                    ],
                    "photo_reference": "CmRaAAAA38DLnlQibYwQ-v05co1wsyU2B8B3Z9nEa2UVHy11bUb9NUXDanykLQxswNbJxpkA0RLzNYHeAR8mhgzdwN6wijqqiSDFZ4fYNdzaxin4uk8HPJYEh4JO1NEZ2LekbgI3EhBrtAa4_ZdlW8dfiLhbIX6uGhTkQO_o51HIym9nkSavGFf64Gl-Qw",
                    "width": 3024
                }
            ],
            "place_id": "ChIJTTukTPv4rlQRrxwaLoYCuqw",
            "plus_code": {
                "compound_code": "JQ7X+P9 Boise, Idaho",
                "global_code": "85M5JQ7X+P9"
            },
            "price_level": 2,
            "rating": 4.4,
            "reference": "ChIJTTukTPv4rlQRrxwaLoYCuqw",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 640
        },
        {
            "formatted_address": "701 N Orchard St, Boise, ID 83706",
            "geometry": {
                "location": {
                    "lat": 43.61079,
                    "lng": -116.243675
                },
                "viewport": {
                    "northeast": {
                        "lat": 43.61218097989273,
                        "lng": -116.2423253201073
                    },
                    "southwest": {
                        "lat": 43.60948132010729,
                        "lng": -116.2450249798927
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "686342700faeb4985e3ad3d4f58852162bb7b80c",
            "name": "Tango's Empanadas - Boise",
            "opening_hours": {
                "open_now": true
            },
            "photos": [
                {
                    "height": 4008,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/115661119148279507334/photos\">Aaron Wamsley</a>"
                    ],
                    "photo_reference": "CmRaAAAAWvXIL-o3h-JP9JluGWo8Rm2oMm3ks58ehVtB7VM-lb6c6-AwxfDORwaDDuZfq3Bj1PGXRvgit5gM9n8UxWrsqqu9EtwNVCp_D4aQwVKqZAVDhDUyFl-QWqNod49AGJdJEhBGfuhc_iW3Uz3gXLBBU_9AGhRx8PUU7H5G5Jl8o7je2cTiREYFvA",
                    "width": 5344
                }
            ],