In [1]:
## Project: 2014 Heart Disease Mortality of 500 Random Counties, based on the Concentration of McDonald's Restaurants
## Further Considerations by Gender, Race/Ethnicity, and Income Level

## Data Cleaning Notebook

In [2]:
#Dependencies
import pandas as pd
import random
import requests
import json
from pprint import pprint

In [3]:
# (1) IRS Data: Finding Income Information by County

In [4]:
#Importing Raw IRS Data
irs_pd = pd.read_csv("Raw Data/IRS Dataset by County.csv")
irs_pd.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,25120.0,14000.0,9140.0,1110.0,17260.0,...,4530.0,9068.0,70.0,97.0,0.0,0.0,2750.0,3791.0,10210.0,35026.0
1,1,AL,0,Alabama,2,300920.0,223950.0,26770.0,46400.0,156430.0,...,77720.0,45164.0,0.0,0.0,0.0,0.0,23290.0,10777.0,250850.0,296608.0
2,1,AL,0,Alabama,3,549200.0,257890.0,88300.0,194060.0,323470.0,...,312340.0,280080.0,0.0,0.0,0.0,0.0,39900.0,37545.0,494200.0,1668817.0
3,1,AL,0,Alabama,4,491350.0,200730.0,150260.0,125560.0,281320.0,...,397110.0,950375.0,30.0,20.0,0.0,0.0,70960.0,102612.0,413810.0,1177609.0
4,1,AL,0,Alabama,5,259320.0,75790.0,142750.0,34060.0,156510.0,...,250010.0,1316842.0,0.0,0.0,0.0,0.0,62330.0,133274.0,191980.0,538147.0

In [5]:
#Removing state-level data
irs_pd = irs_pd[irs_pd.COUNTYFIPS !=0]

#Combining State and County columns to more easily merge with CDC data
irs_pd["COUNTYNAME"] = irs_pd["COUNTYNAME"] + ", " + irs_pd["STATE"]

#Removing Rows with Missing Data
irs_pd = irs_pd.dropna(how='any')

#Pulling Needed Information
irs_basic = irs_pd[["COUNTYNAME", "agi_stub", "N1", "A00200"]]
irs_basic.head(10)

            COUNTYNAME  agi_stub       N1    A00200
8   Autauga County, AL         1    210.0    1403.0
9   Autauga County, AL         2   3350.0   14437.0
10  Autauga County, AL         3   5620.0   77486.0
11  Autauga County, AL         4   5410.0  159789.0
12  Autauga County, AL         5   3420.0  163864.0
13  Autauga County, AL         6   2450.0  163709.0
14  Autauga County, AL         7   3000.0  302302.0
15  Autauga County, AL         8    360.0   61298.0
16  Baldwin County, AL         1   1710.0   13073.0
17  Baldwin County, AL         2  13400.0   53151.0

In [6]:
#Renaming Columns
irs_rename = irs_basic.rename(columns={"COUNTYNAME":"County",
                                       "agi_stub":"Adjusted Gross Income",
                                       "N1":"Number of Returns",
                                       "A00200":"Total Salaries & Wages"})

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",1,210.0,1403.0
9,"Autauga County, AL",2,3350.0,14437.0
10,"Autauga County, AL",3,5620.0,77486.0
11,"Autauga County, AL",4,5410.0,159789.0
12,"Autauga County, AL",5,3420.0,163864.0
13,"Autauga County, AL",6,2450.0,163709.0
14,"Autauga County, AL",7,3000.0,302302.0
15,"Autauga County, AL",8,360.0,61298.0
16,"Baldwin County, AL",1,1710.0,13073.0
17,"Baldwin County, AL",2,13400.0,53151.0

In [7]:
#Cleaning Adjusted Gross Income
irs_rename.loc[:, "Adjusted Gross Income"] = irs_rename["Adjusted Gross Income"].astype("str")

irs_rename['Adjusted Gross Income'] = irs_rename['Adjusted Gross Income'].replace(
    {'0': 'No AGI Stub',
     '1': 'Under $1',
     '2': '1 - $9,999',
     '3': '10,000 - $24,999',
     '4': '25,000 - $49,999',
     '5': '50,000 - $74,999',
     '6': '75,000 - $99,999',
     '7': '100,000 - $199,999',
     '8': '$200,000 or more'
    })

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",Under $1,210.0,1403.0
9,"Autauga County, AL","1 - $9,999",3350.0,14437.0
10,"Autauga County, AL","10,000 - $24,999",5620.0,77486.0
11,"Autauga County, AL","25,000 - $49,999",5410.0,159789.0
12,"Autauga County, AL","50,000 - $74,999",3420.0,163864.0
13,"Autauga County, AL","75,000 - $99,999",2450.0,163709.0
14,"Autauga County, AL","100,000 - $199,999",3000.0,302302.0
15,"Autauga County, AL","$200,000 or more",360.0,61298.0
16,"Baldwin County, AL",Under $1,1710.0,13073.0
17,"Baldwin County, AL","1 - $9,999",13400.0,53151.0

In [8]:
#Exporting Income Brackets per County Information to a CSV file
irs_rename.to_csv("Final_Clean_IRS_Data.csv", index=False, header=True)

In [9]:
# (2) CDC Data: Finding Heart Disease Mortality Rate by County, including Gender and Race/Ethnicity

In [10]:
#Importing Raw CDC Data
cdc_pd = pd.read_csv("Raw Data/CDC Dataset - Heart Disease by County.csv")
cdc_pd.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [11]:
#Removing state-level data
cdc_pd = cdc_pd[cdc_pd.GeographicLevel !="State"]

#Removing Insufficient Data
cdc_pd = cdc_pd[cdc_pd.Data_Value_Footnote_Symbol !="~"]

#Combining State and County columns to more easily merge with IRS data
cdc_pd["LocationDesc"] = cdc_pd["LocationDesc"] + ", " + cdc_pd["LocationAbbr"]

#Pulling Needed Information
cdc_basic = cdc_pd[["LocationAbbr",
                    "LocationDesc",
                    "Data_Value",
                    "Stratification1",
                    "Stratification2",
                    "Location 1"]]
cdc_basic.head()

,LocationAbbr,LocationDesc,Data_Value,Stratification1,Stratification2,Location 1
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"

In [12]:
#Renaming Columns
cdc_rename = cdc_basic.rename(columns={"LocationAbbr":"State",
                                       "LocationDesc":"County",
                                       "Data_Value":"Deaths per 100,000",
                                       "Stratification1":"Gender",
                                       "Stratification2":"Race/Ethnicity",
                                       "Location 1": "Geographical Coordinates"})

cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [13]:
#Dropping Rows with NaN Values 
cdc_rename = cdc_rename.dropna(how='any')
cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [14]:
#Exporting Mortality Information to a CSV file
cdc_rename.to_csv("Final_Clean_CDC_Data.csv", index=False, header=True)

In [15]:
# (3) Merging the Two Cleaned DataFrames to One and Creating our Sample Population to Test
df_merge = pd.merge(cdc_rename, irs_rename, on="County")
df_merge.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
0,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
1,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0
2,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","10,000 - $24,999",1270.0,15724.0
3,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","25,000 - $49,999",1680.0,48739.0
4,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","50,000 - $74,999",1080.0,50947.0
5,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","75,000 - $99,999",690.0,42393.0
6,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","100,000 - $199,999",1050.0,98756.0
7,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","$200,000 or more",220.0,27889.0
8,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
9,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0

In [19]:
#Using the Merged Dataset to Create a List of 500 Random Counties to be used with the Yelp API 

#Determining Unique Counties
unique_counties = df_merge["County"].unique()

#Pulling a Sample of 500 Unique Counties
random.shuffle(unique_counties)
county_pull = unique_counties[:500]
county_pull

array(['DuPage County, IL', 'Hendricks County, IN', 'Polk County, WI',
       'Cuming County, NE', 'Pontotoc County, MS',
       'Montgomery County, VA', 'Crawford County, GA',
       'Chippewa County, MI', 'Randall County, TX',
       'Richardson County, NE', 'Marshall County, MS',
       'Mitchell County, IA', 'Roscommon County, MI', 'Cass County, IL',
       'Clay County, FL', 'Tulare County, CA', 'Dale County, AL',
       'Kimble County, TX', 'Iosco County, MI', 'Phelps County, MO',
       'Monroe County, MS', 'Stonewall County, TX', 'Long County, GA',
       'Anderson County, TN', 'Torrance County, NM',
       'Cleveland County, OK', 'Worth County, MO', 'Carroll County, IL',
       'Greene County, PA', 'Kidder County, ND', 'Hillsdale County, MI',
       'Bon Homme County, SD', 'Burleigh County, ND', 'Kent County, MI',
       'Oneida County, WI', 'Jackson County, SD', 'Vinton County, OH',
       'McCracken County, KY', 'Adams County, NE', 'Windham County, CT',
       'Osceola County, MI', 'Nelson County, KY', 'Fayette County, OH',
       'Livingston County, NY', 'Grand County, CO', 'Orange County, NY',
       'Bailey County, TX', 'Lauderdale County, AL',
       'Washington County, ME', 'Monroe County, MI', 'Edwards County, TX',
       'Barry County, MO', 'Delaware County, IA', 'Crosby County, TX',
       'Murray County, GA', 'Scott County, MN', 'Comal County, TX',
       'Jefferson County, OH', 'Rio Blanco County, CO',
       'Shelby County, MO', 'Scott County, KY', 'Lee County, AR',
       'McKean County, PA', 'Macon County, GA', 'Spalding County, GA',
       'Wells County, ND', 'Tooele County, UT', 'Montour County, PA',
       'Greenlee County, AZ', 'Pennington County, SD',
       'Sumter County, GA', 'Upshur County, WV', 'Mercer County, PA',
       'Bollinger County, MO', 'Galveston County, TX',
       'Stanton County, KS', 'Putnam County, IL', 'Irion County, TX',
       'Ogemaw County, MI', 'Portage County, OH', 'Mackinac County, MI',
       'Walker County, TX', 'Elmore County, ID', 'Blair County, PA',
       'Lapeer County, MI', 'Dougherty County, GA', 'Hamilton County, IN',
       'Leelanau County, MI', 'Trinity County, TX', 'Cheyenne County, CO',
       'Perry County, KY', 'Albany County, NY', 'Loving County, TX',
       'Grayson County, VA', 'Bartow County, GA', 'Champaign County, OH',
       'Hampden County, MA', 'Lincoln County, OK', 'Brown County, KS',
       'Burke County, ND', 'Butte County, CA', 'Latah County, ID',
       'Coweta County, GA', 'Randolph County, WV', 'Coffey County, KS',
       'Ontonagon County, MI', 'Marquette County, WI',
       'Ouachita County, AR', 'Greeley County, NE', 'Wayne County, MS',
       'Aitkin County, MN', 'Ramsey County, ND', 'Catahoula Parish, LA',
       'Faulkner County, AR', 'Warren County, GA', 'Lamoille County, VT',
       'Beckham County, OK', 'Summit County, OH', 'Medina County, TX',
       'Sierra County, NM', 'Pope County, IL', 'Piscataquis County, ME',
       'Waseca County, MN', 'Webster County, IA', 'Outagamie County, WI',
       'Anderson County, KS', 'San Juan County, WA', 'Orange County, FL',
       'Jackson County, AR', 'Washington County, MS',
       'Duchesne County, UT', 'Antrim County, MI', 'Corson County, SD',
       'Hampshire County, WV', 'Warren County, IA', 'Meade County, SD',
       'Elkhart County, IN', 'Sheridan County, KS', 'Chase County, NE',
       'Morgan County, OH', 'Pender County, NC', 'Orange County, CA',
       'Montgomery County, IN', 'Grand County, UT', 'Simpson County, KY',
       'Lewis County, MO', 'Lake County, MI', 'Reagan County, TX',
       'Cook County, GA', 'Butler County, KS', 'Carter County, TN',
       'Sullivan County, MO', 'Volusia County, FL', 'Hockley County, TX',
       'Adams County, CO', 'Bear Lake County, ID', 'Clarendon County, SC',
       'Lamar County, TX', 'Hickman County, TN', 'Grundy County, MO',
       'Montgomery County, TN', 'Monroe County, WI', 'Cottle County, TX',
       'Cherokee County, SC', 'Coffee County, AL', 'Butte County, SD',
       'Washington County, PA', 'Deuel County, NE', 'Kanabec County, MN',
       'Newton County, MS', 'Montmorency County, MI', 'Ray County, MO',
       'Val Verde County, TX', 'Washington County, MO',
       'Lauderdale County, TN', 'Jefferson County, MO',
       'Dundy County, NE', 'Robertson County, KY', 'Harmon County, OK',
       'Billings County, ND', 'Shelby County, TX',
       'Cumberland County, PA', 'Wright County, IA', 'Carlton County, MN',
       'Chautauqua County, KS', 'Kootenai County, ID',
       'Montgomery County, AR', 'Jefferson County, WI',
       'Telfair County, GA', 'Jackson Parish, LA', 'Nueces County, TX',
       'Wells County, IN', 'Carson County, TX', 'Cassia County, ID',
       'Atchison County, MO', 'Stanley County, SD', 'Ashe County, NC',
       'Pearl River County, MS', 'Richmond County, VA',
       'Warrick County, IN', 'Broward County, FL', 'Huerfano County, CO',
       'Morgan County, AL', 'Osage County, MO', 'Glenn County, CA',
       'Baldwin County, AL', 'Washita County, OK', 'Yadkin County, NC',
       'Caldwell Parish, LA', 'Hocking County, OH', 'Kearny County, KS',
       'Curry County, NM', 'Monroe County, AL', 'Clark County, KY',
       'Butler County, KY', 'Rockwall County, TX',
       'James City County, VA', 'Franklin County, GA',
       'Washburn County, WI', 'Terrell County, TX', 'Grant County, MN',
       'Pierce County, ND', 'Deaf Smith County, TX',
       'Eastland County, TX', 'Madison Parish, LA', 'Briscoe County, TX',
       'Big Horn County, MT', 'Columbia County, FL',
       'Franklin County, NY', 'Keweenaw County, MI', 'Rush County, IN',
       'Kenedy County, TX', 'Thurston County, NE', 'King County, TX',
       'Clay County, WV', 'Lake County, IN', 'Santa Rosa County, FL',
       'Pike County, IL', 'Geneva County, AL', 'Onslow County, NC',
       'Granite County, MT', 'Lafayette County, FL', 'Bolivar County, MS',
       'Sussex County, DE', 'Jackson County, OK', 'Columbia County, WA',
       'Becker County, MN', 'Allen County, KS', 'Greenwood County, SC',
       'Montgomery County, KS', 'Emanuel County, GA',
       'Onondaga County, NY', 'Wake County, NC', 'Yakima County, WA',
       'Essex County, NJ', 'Elko County, NV', 'Sanilac County, MI',
       'Cecil County, MD', 'Tillamook County, OR', 'Scioto County, OH',
       'McPherson County, SD', 'Franklin County, MS',
       'Jefferson County, TX', 'Shelby County, IN', 'Holmes County, FL',
       'Jackson County, TX', 'Marion County, TN', 'Gallatin County, KY',
       'Craven County, NC', 'Culpeper County, VA', 'Marquette County, MI',
       'Ottawa County, KS', 'Caroline County, MD', 'Cimarron County, OK',
       'DeKalb County, IN', 'Lenoir County, NC', 'Custer County, SD',
       'Big Horn County, WY', 'Jones County, SD', 'Buchanan County, VA',
       'Ferry County, WA', 'Valley County, MT', 'Union County, OH',
       'Ripley County, MO', 'Lincoln County, OR', 'Van Wert County, OH',
       'Livingston County, MI', 'Perry County, OH', 'Polk County, OR',
       'Boone County, KY', 'Hawaii County, HI', 'Madison County, MO',
       'Louisa County, VA', 'Atoka County, OK', 'Cheyenne County, NE',
       'Hansford County, TX', 'Murray County, OK', 'Cleburne County, AR',
       'Bradley County, AR', 'Madison County, MS', 'Allen County, KY',
       'Putnam County, NY', 'Honolulu County, HI', 'Tippah County, MS',
       'Carroll County, KY', 'Wasatch County, UT',
       'Montgomery County, OH', 'Union County, OR', 'Newton County, IN',
       'Skagit County, WA', 'Grenada County, MS', 'Bulloch County, GA',
       'Coos County, NH', 'Tensas Parish, LA', 'Horry County, SC',
       'Allegany County, MD', 'Iowa County, WI', 'Pitt County, NC',
       'Aurora County, SD', 'Stone County, MS', 'Stillwater County, MT',
       'Bosque County, TX', 'Auglaize County, OH', 'Park County, MT',
       'Douglas County, WA', 'Bossier Parish, LA', 'Trumbull County, OH',
       'Schuylkill County, PA', 'Chaffee County, CO',
       'Bennington County, VT', 'Taylor County, IA', 'Saluda County, SC',
       'Macon County, NC', 'Cloud County, KS', 'Madison County, AR',
       'Franklin County, MA', 'El Paso County, TX',
       'Appomattox County, VA', 'Quitman County, GA',
       'Greensville County, VA', 'Fillmore County, MN',
       'Freestone County, TX', 'Gosper County, NE', 'Geary County, KS',
       'Owen County, IN', 'Adair County, IA', 'Somerset County, MD',
       'Lincoln County, NV', 'Oneida County, ID', 'Lincoln County, AR',
       'Winnebago County, IL', 'Perry County, AL',
       'Rock Island County, IL', 'Williamson County, IL',
       'Santa Cruz County, CA', 'Greenup County, KY', 'Llano County, TX',
       'Cedar County, MO', 'Fayette County, GA', 'Sheboygan County, WI',
       'Plumas County, CA', 'Fulton County, GA', 'Jefferson County, GA',
       'McDonald County, MO', 'Midland County, MI', 'Eaton County, MI',
       'Clark County, ID', 'Osage County, KS', 'Nye County, NV',
       'Unicoi County, TN', 'Sevier County, UT', 'Tangipahoa Parish, LA',
       'Shenandoah County, VA', 'Apache County, AZ', 'Hanson County, SD',
       'Pushmataha County, OK', 'Champaign County, IL',
       'Clark County, WA', 'Franklin County, KS', 'Winnebago County, WI',
       'Knox County, IN', 'Rockingham County, NH', 'Brooks County, TX',
       'Monterey County, CA', 'Fall River County, SD',
       'Claiborne County, MS', 'McIntosh County, GA',
       'Mahaska County, IA', 'Columbiana County, OH', 'Yoakum County, TX',
       'Wabaunsee County, KS', 'Lake County, TN', 'Montgomery County, AL',
       'Cass County, MN', 'Comanche County, OK', 'Stone County, AR',
       'Washington County, MN', 'Foard County, TX',
       'Allegheny County, PA', 'Cochran County, TX', 'Zavala County, TX',
       'Okfuskee County, OK', 'Allegan County, MI',
       'Washington County, TX', 'Mayes County, OK',
       'Worcester County, MA', 'Columbus County, NC',
       'Columbia County, AR', 'Sandoval County, NM', 'Creek County, OK',
       'Mariposa County, CA', 'Cross County, AR', 'Jackson County, MO',
       'Guernsey County, OH', 'Fleming County, KY', 'Avery County, NC',
       'Rich County, UT', 'Avoyelles Parish, LA', 'Rush County, KS',
       'Claiborne County, TN', 'Lipscomb County, TX',
       'Florence County, SC', 'Red Willow County, NE', 'Huron County, OH',
       'Franklin County, VT', 'Russell County, KY', 'Preston County, WV',
       'Davidson County, NC', 'Lincoln County, WA', 'Lewis County, NY',
       'Barbour County, AL', 'Shannon County, MO', 'Ottawa County, MI',
       'Lane County, KS', 'Ozaukee County, WI', 'Washington County, AR',
       'Faulk County, SD', 'Hamilton County, IL', 'Neosho County, KS',
       'Hunt County, TX', 'Wheeler County, OR', 'Catron County, NM',
       'Garvin County, OK', 'Fulton County, AR', 'Benton County, TN',
       'San Miguel County, NM', 'Baltimore County, MD',
       'Wilson County, NC', 'Humphreys County, TN', 'Pope County, AR',
       'Montgomery County, TX', 'Baraga County, MI', 'Calhoun County, MS',
       'Victoria County, TX', 'Wayne County, MI',
       'Cerro Gordo County, IA', 'Gallatin County, IL',
       'Sedgwick County, CO', 'Coal County, OK', 'McLeod County, MN',
       'Madison County, IL', 'Franklin County, ID', 'Alger County, MI',
       'Mitchell County, KS', 'Howard County, MO', 'Marshall County, WV',
       'Piute County, UT', 'Darlington County, SC', 'Deuel County, SD',
       'Clay County, AR', 'Greene County, TN', 'Shelby County, TN',
       'Rolette County, ND', 'Webb County, TX', 'Wagoner County, OK',
       'Wayne County, WV', 'Robeson County, NC', 'Shackelford County, TX',
       'Dade County, GA', 'Furnas County, NE', 'Sherman County, OR',
       'Laurel County, KY', 'McCone County, MT', 'Palo Pinto County, TX',
       'Grant County, OK', 'Baldwin County, GA', 'Kemper County, MS',
       'Marion County, GA', 'Conejos County, CO', 'Sioux County, ND',
       'Carson City, NV', 'Lea County, NM', 'Hampton County, SC',
       'Mathews County, VA', 'Preble County, OH', 'Banner County, NE',
       'Middlesex County, CT', 'Stone County, MO', 'Swift County, MN',
       'Pulaski County, GA'], dtype=object)

In [17]:
# (3) Yelp API: Finding number of McDonald's per County

In [20]:
#Creating a Function that Defines Search Parameters for each County

#### WE NEED TO CREATE A SEPARATE CONFIG FILE CONTAINING AN API KEY SO THAT WE'RE NOT HARD-CODING AN API TO THE NOTEBOOK
from api_keys import api_key
url = "https://api.yelp.com/v3/businesses/search"


def get_places(county, page_token):
    params = {
        "Authorization": api_key,
        "location":  county,
        "term": "mcdonalds",
        "limit": 50,
        "categories": "hotdogs",
        }
    
    #using the page token
    if page_token:
        print('using token')
        params['pagetoken'] = page_token

    response = requests.get(url, params=params, headers={"Authorization": f"Bearer {api_key}"})
 
    return response.json()

In [22]:
#creating a loop that uses previous params for each county
from time import sleep

#Defining a new list that will hold all of the restaurant results
rest_list = []

for county in county_pull:

    page_token = None
        
    #using a while loop to countiously loop until False    
    while True:
        
        places_data = get_places(county, page_token)

        #for loop to loop through multiple pages and grab each resturant
        #within each county
        for i in range(0 ,len(places_data['businesses'])):
            rest_list.append({'county': county, 'place_name': places_data["businesses"][i]["name"]})
        
        #using the page token until no more tokens left
        page_token = places_data.get('next_page_token', None)
        print(f'county {county} {page_token}')
        sleep(1)
        if not page_token:
            print('breaking')
            break

county DuPage County, IL None
breaking
county Hendricks County, IN None
breaking
county Polk County, WI None
breaking
county Cuming County, NE None
breaking

KeyboardInterrupt:

In [44]:
# Turning the resulting list into a dataframe
rest_df = pd.DataFrame(rest_list)
rest_df.head(50)

               county                               place_name
0   Camden County, MO                               McDonald's
1   Camden County, MO                               McDonald's
2   Camden County, MO                               McDonald's
3   Camden County, MO                               McDonald's
4   Camden County, MO                               McDonald's
5   Camden County, MO                               McDonald's
6   Camden County, MO                               McDonald's
7   Camden County, MO                               McDonald's
8   Camden County, MO                                 Culver's
9   Camden County, MO  Zaxby's Chicken Fingers & Buffalo Wings
10  Camden County, MO                                 Culver's
11  Camden County, MO                                  Wendy's
12  Camden County, MO                          Jack in the Box
13  Camden County, MO                           Steak â€™n Shake
14  Camden County, MO                           Sonic Drive-In
15  Camden County, MO                           Eldon Drive-In
16  Camden County, MO                              Dairy Queen
17  Camden County, MO                         Hardees of Eldon
18  Camden County, MO                                Taco Bell
19  Camden County, MO                                   Arby's
20  Camden County, MO                                   Subway
21  Camden County, MO                                   Subway
22  Camden County, MO                       Taylor's Dairy Joy
23  Camden County, MO                       Swiss Inn Drive In
24  Camden County, MO                                   Subway
25  Camden County, MO                                  Wendy's
26  Camden County, MO                             Jimmy John's
27  Camden County, MO                              Taco John's
28  Camden County, MO                                   Subway
29  Camden County, MO                                   Subway
30  Camden County, MO                           Champs Chicken
31  Camden County, MO                                Taco Bell
32  Camden County, MO                              Burger King
33  Camden County, MO                                   Subway
34  Camden County, MO                           Sonic Drive-In
35  Camden County, MO                                   Subway
36  Camden County, MO                                   Subway
37  Camden County, MO                              Captain D's
38  Camden County, MO                                Taco Bell
39  Camden County, MO                           Sonic Drive-In
40  Camden County, MO                                  Wendy's
41  Camden County, MO                                  Wendy's
42  Camden County, MO                      Iberia Family Diner
43  Camden County, MO                                   Subway
44  Camden County, MO                           Sonic Drive-In
45  Camden County, MO                Dairy Queen Grill & Chill
46  Camden County, MO                                Taco Bell
47  Camden County, MO                                 Pita Pit
48  Camden County, MO                                   Subway
49  Camden County, MO                           Firehouse Subs

In [45]:
#Eliminating results that are not McDonalds
mcdonalds_df = rest_df.loc[rest_df["place_name"] == "McDonald's",:]

mcdonalds_df.head(50)

                  county  place_name
0      Camden County, MO  McDonald's
1      Camden County, MO  McDonald's
2      Camden County, MO  McDonald's
3      Camden County, MO  McDonald's
4      Camden County, MO  McDonald's
5      Camden County, MO  McDonald's
6      Camden County, MO  McDonald's
7      Camden County, MO  McDonald's
50       King County, TX  McDonald's
62     Tensas Parish, LA  McDonald's
63     Tensas Parish, LA  McDonald's
64     Tensas Parish, LA  McDonald's
65     Tensas Parish, LA  McDonald's
66     Tensas Parish, LA  McDonald's
67     Tensas Parish, LA  McDonald's
112  Sullivan County, NH  McDonald's
113  Sullivan County, NH  McDonald's
114  Sullivan County, NH  McDonald's
115  Sullivan County, NH  McDonald's
116  Sullivan County, NH  McDonald's
117  Sullivan County, NH  McDonald's
118  Sullivan County, NH  McDonald's
119  Sullivan County, NH  McDonald's
162   Raleigh County, WV  McDonald's
163   Raleigh County, WV  McDonald's
164   Raleigh County, WV  McDonald's
165   Raleigh County, WV  McDonald's
166   Raleigh County, WV  McDonald's
167   Raleigh County, WV  McDonald's
168   Raleigh County, WV  McDonald's
169   Raleigh County, WV  McDonald's
170   Raleigh County, WV  McDonald's
171   Raleigh County, WV  McDonald's

In [46]:
# Creating a dataframe that lists the number of McDonalds per County
mcdonalds_count = mcdonalds_df.groupby(["county"]).count()
mcdonalds_count_df = mcdonalds_count.rename(columns = {"place_name": "Number of Mcdonalds"})
mcdonalds_count_df

                     Number of Mcdonalds
county
Camden County, MO                      8
King County, TX                        1
Raleigh County, WV                    10
Sullivan County, NH                    8
Tensas Parish, LA                      6

In [ ]:
# Exporting the results to a CSV File
mcdonalds_count_df.to_csv("Mcdonalds_per_County.csv", index = True, header = True)